n8n/workflow-improved.json
[
  {
    "name": "CS Zalo - Ghost Worker v3",
    "description": "AI Agent CS Zalo v3 -- PII Masking, Smart Collection, Escalation, Duplicate Detection, Business Hours",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-zalo-gemazo.zaloMessageTrigger",
        "typeVersion": 7,
        "position": [-800, 0],
        "id": "37d82f9f-2c19-494c-b5ea-fe347c042ad5",
        "name": "Zalo Message Trigger",
        "credentials": {
          "zaloApi": {
            "id": "62UoySzDRVlZ0ZSG",
            "name": "Zalo - Truong Thinh (0912679845)"
          }
        },
        "notes": "Trigger khi co tin nhan Zalo tu khach hang"
      },
      {
        "parameters": {
          "jsCode": "// PII Masking -- regex SDT VN + ten rieng -> mask tokens\n// Outputs BOTH maskedMessage (for logging) and originalMessage (for AI processing)\n// CRITICAL-2 fix: AI Agent gets originalMessage with real phone numbers\nconst triggerData = $input.first().json;\nlet message = triggerData.data?.content || triggerData.data?.text || '';\nconst originalMessage = message;\nconst phoneMap = [];\nconst nameMap = [];\n\n// 1. Mask VN phone numbers: 0[3|5|7|8|9]xxxxxxxx\nconst phoneRe = /\\b(0[35789]\\d{8})\\b/g;\nmessage = message.replace(phoneRe, (m) => {\n  const id = phoneMap.length;\n  phoneMap.push({ mask: `[PHONE_${id}]`, real: m });\n  return `[PHONE_${id}]`;\n});\n\n// 2. Mask names after keywords\nconst nameKw = /\\b(?:ten|Toi la|Em la|Anh la|Chi la)\\s+([A-ZÀ-Ỹ][a-zà-ỹ]{1,15})\\b/gi;\nmessage = message.replace(nameKw, (fullMatch, name) => {\n  const id = nameMap.length;\n  const placeholder = `[NAME_${id}]`;\n  nameMap.push({ mask: placeholder, real: name });\n  return fullMatch.replace(name, placeholder);\n});\n\nreturn [{\n  json: {\n    originalMessage: originalMessage,\n    maskedMessage: message,\n    phoneMap,\n    nameMap,\n    senderId: triggerData.data?.fromId || triggerData.data?.senderId || 'unknown',\n    senderName: triggerData.data?.senderName || 'Khach hang',\n    threadId: triggerData.threadId || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-700, 0],
        "id": "aa110001-0001-4000-a001-000000000010",
        "name": "Code - PII Masking",
        "notes": "Ma hoa PII (SDT, ten). CRITICAL-2 fix: outputs originalMessage + maskedMessage"
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHON GOOGLE SHEET BANG GIA]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Sheet1"
          },
          "filters": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [-650, 120],
        "id": "aa110001-0001-4000-a001-000000000001",
        "name": "Google Sheets - Doc bang gia",
        "notes": "Doc bang gia dich vu tu Google Sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Chuan bi context cho AI Agent\n// Doc tu PII Masking, forward originalMessage\nconst priceRows = $input.all();\nlet priceText = '';\nif (priceRows.length > 0) {\n  priceText = priceRows.map(r => {\n    const svc = r.json['Dich vu'] || r.json['dich_vu'] || r.json['Service'] || '';\n    const price = r.json['Gia'] || r.json['gia'] || r.json['Price'] || '';\n    const desc = r.json['Mo ta'] || r.json['mo_ta'] || r.json['Description'] || '';\n    if (!svc) return '';\n    return `- ${svc}: ${price}${desc ? ' -- ' + desc : ''}`;\n  }).filter(Boolean).join('\\n');\n}\nif (!priceText) {\n  priceText = '(Chua co du lieu gia -- tu van chung, huong khach dat lich)';\n}\nconst piiData = $input.first().json;\nreturn [{\n  json: {\n    priceSection: priceText,\n    customerMessage: piiData.originalMessage || '',\n    maskedMessage: piiData.maskedMessage || piiData.originalMessage || '',\n    phoneMap: piiData.phoneMap || [],\n    nameMap: piiData.nameMap || [],\n    originalMessage: piiData.originalMessage || '',\n    senderId: piiData.senderId || 'unknown',\n    senderName: piiData.senderName || 'Khach hang',\n    threadId: piiData.threadId || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-500, 0],
        "id": "aa110001-0001-4000-a001-000000000002",
        "name": "Code - Chuan bi context",
        "notes": "Ghep bang gia vao prompt. HIGH-1 fix: originalMessage forwarded"
      },
      {
        "parameters": {
          "jsCode": "// Smart Collection -- stateless parser for current-turn field detection\n// CRITICAL-1 fix: does NOT accumulate state. AI Agent + Memory handle cross-turn.\nconst input = $input.first().json;\nconst msg = (input.customerMessage || '').toLowerCase();\nconst detected = {};\nconst svcMatch = msg.match(/(?:lam toc|lam nail|cham soc da|massage|uon|nuom|cat|goi|tay|tre hoa|nang co|dieu tri|rang su|laser|triet long|phun|moi|mi)/i);\nif (svcMatch) detected.service = svcMatch[0];\nconst timeMatch = msg.match(/(sang|chieu|toi|t7|thu [2-7]|thu hai|thu ba|thu tu|thu nam|thu sau|thu bay|chu nhat|ngay mai|tuan sau|\\d{1,2}[h:]\\d{0,2})/i);\nif (timeMatch) detected.time = timeMatch[0];\nconst nameMatch = msg.match(/(?:ten|em la|anh la|chi la|toi la)\\s+([a-zà-ỹ]{2,20})\\b/i);\nif (nameMatch) detected.name = nameMatch[1];\nconst phoneMatch = msg.match(/\\b0[35789]\\d{8}\\b/);\nif (phoneMatch) detected.phone = phoneMatch[0];\nconst hasQuestionPattern = /gio|dia chi|o dau|bao nhieu|co khong|la gi|thoi gian|may gio|mo cua|dong cua/i.test(msg);\nconst hasBookingIntent = /dat|book|lich|dang ky|giu cho|xin lich|slot|muon lam|em muon/i.test(msg);\nconst hasNewFieldInfo = !!(detected.service || detected.name || detected.phone);\nconst isTopicChange = hasQuestionPattern && !hasBookingIntent && !hasNewFieldInfo;\nlet instruction = '';\nif (isTopicChange) {\n  instruction = '\\n[HE THONG: Khach thay doi chu de. Tra loi cau hoi moi, sau do quay lai hoi dat lich neu phu hop.]';\n} else {\n  instruction = '\\n[HE THONG: Neu chua co du thong tin dat lich (ten, so dien thoai, dich vu), hay hoi them.]';\n  instruction += '\\n[UU TIEN HOI: service -> name -> phone -> time (time la tuy chon)]';\n  instruction += '\\n[Khi du thong tin, tra loi DUNG JSON: {\"booking\": true, \"name\": \"...\", \"phone\": \"...\", \"service\": \"...\", \"note\": \"...\"}]';\n}\nreturn [{\n  json: {\n    ...input,\n    currentDetected: detected,\n    isTopicChange,\n    systemInstruction: instruction\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-250, 0],
        "id": "aa110001-0001-4000-a001-000000000011",
        "name": "Code - Smart Collection",
        "notes": "Stateless parser. CRITICAL-1 fix: AI Agent + Memory handle cross-turn"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.customerMessage }}",
          "options": {
            "systemMessage": "=## BAN LA AI GI?\nBan ten la Linh -- tro ly tu van & dat lich cua spa.\n\n## HE THONG THONG BAO (tu dong):\n{{ $json.systemInstruction }}\n\nKhi he thong yeu cau ban them thong tin, hay tuan thu chinh xac.\nNeu he thong noi \"Du thong tin\" -- hay tao JSON booking ngay.\nQUAN TRONG: JSON booking PHAI co phone (khong phai [PHONE]). Ban duoc truyen tin nhan goc.\n\nBan la Linh.",
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [-100, 0],
        "id": "f17f3b86-2ff9-480f-bccf-cb9ad319f4df",
        "name": "AI Agent",
        "notes": "AI Agent v3. CRITICAL-2: receives originalMessage from Smart Collection",
        "onError": "continueRegularOutput",
        "settings": {
          "continueOnFail": true
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Zalo Message Trigger').item.json.data?.fromId || $('Zalo Message Trigger').item.json.data?.senderId || 'default' }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.4,
        "position": [-100, 200],
        "id": "033aa324-1038-46f3-bd11-34b7e0291150",
        "name": "Simple Memory",
        "notes": "Memory theo session - nho context hoi thoai"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [-300, 200],
        "id": "411730a3-4337-47e0-ac5f-8b1c51791cac",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "pbjCncLIt4GEfXub",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "notes": "LLM Model - Gemini Flash Lite"
      },
      {
        "parameters": {
          "jsCode": "// Escalation Detection -- keyword patterns for handoff to human\n// HIGH-4 fix: inline sequential check after AI Agent, not parallel branch\nconst input = $input.first().json;\nconst msg = (input.originalMessage || input.customerMessage || '').toLowerCase();\n\nconst PATTERNS = {\n  human: /goi cho em|cho so dt|so dien thoai lien he|lien he truc tiep/i,\n  complaint: /noi chuyen voi quan ly|giam doc|sep|khong hai long|phan nan|te qua|chui/i,\n  distrust: /khong tin bot|nguoi that|nhan vien that|tu van vien|talk to human/i\n};\n\nlet escalationType = null;\nfor (const [type, re] of Object.entries(PATTERNS)) {\n  if (re.test(msg)) { escalationType = type; break; }\n}\n\nlet ownerAlert = null;\nlet escalationReply = null;\n\nif (escalationType === 'human') {\n  ownerAlert = `KHACH MUON NOI CHUYEN TRUC TIEP\\nSDT khach: ${input.senderId}\\nTin nhan: \"${msg}\"\\nHanh dong: Goi lai ngay!`;\n  escalationReply = 'Day em la so ben em a! Em se cho nhan vien lien he voi anh/chị ngay nhé! 📞';\n} else if (escalationType === 'complaint') {\n  ownerAlert = `🔴 LEAD NONG -- Khach phan nan / khong hai long\\nSDT khach: ${input.senderId}\\nTin nhan: \"${msg}\"\\nHanh dong: Xu ly ngay!`;\n  escalationReply = 'Em xin lỗi nếu mình chưa làm anh/chị hài lòng. Để em kết nối với quản lý hỗ trợ anh/chị tốt hơn nhé!';\n} else if (escalationType === 'distrust') {\n  escalationReply = 'Day em la nhan vien tu van online cua spa a! Neu anh/chị muon gap truc tiep, em gui dia chi va hotline nhé: [SPA_PHONE]';\n}\n\nreturn [{\n  json: {\n    ...input,\n    isEscalation: !!escalationType,\n    escalationType,\n    ownerAlert,\n    escalationReply\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [50, 0],
        "id": "aa110001-0001-4000-a001-000000000012",
        "name": "Code - Escalation",
        "notes": "Escalation Detection. HIGH-4 fix: inline sequential check"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "escalation-check",
                "leftValue": "={{ $json.isEscalation }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [150, 0],
        "id": "aa110001-0001-4000-a001-000000000013",
        "name": "IF - Escalation?",
        "notes": "Kiem tra escalation"
      },
      {
        "parameters": {
          "jsCode": "// Format escalation alert\nconst data = $input.first().json;\nreturn [{\n  json: {\n    ownerMessage: data.ownerAlert,\n    threadId: data.threadId\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [250, -100],
        "id": "aa110001-0001-4000-a001-000000000014",
        "name": "Code - Format Escalation Alert",
        "notes": "Format alert message"
      },
      {
        "parameters": {
          "threadId": "={{ $('Zalo Message Trigger').item.json.threadId }}",
          "message": "={{ $json.escalationReply }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [250, 100],
        "id": "aa110001-0001-4000-a001-000000000015",
        "name": "Zalo - Escalation Reply",
        "notes": "Gui reply escalation cho khach",
        "credentials": {
          "zaloApi": {
            "id": "62UoySzDRVlZ0ZSG",
            "name": "Zalo - Truong Thinh (0912679845)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse Booking\nconst triggerData = $('Zalo Message Trigger').item.json;\nconst senderId = triggerData.data?.fromId || triggerData.data?.senderId || 'unknown';\nconst senderName = triggerData.data?.senderName || 'Khach hang';\nconst customerMessage = triggerData.data?.content || triggerData.data?.text || '';\nconst threadId = triggerData.threadId || '';\nconst timestamp = new Date().toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh' });\n\nconst aiOutput = $input.first().json.output || '';\nconst hasError = !aiOutput || $input.first().json.error;\n\n\nif (hasError) {\n  return [{\n    json: {\n      isBooking: false,\n      bookingData: null,\n      replyText: 'Day hien em dang ban ho tro khach khac. Anh/chị de lai so dien thoai, em goi lai tu van cho anh/chị ngay nhé! 💖',\n      senderId, senderName, rawAiOutput: aiOutput, threadId, isError: true,\n      messageType: 'Fallback (loi API)', customerMessage, timestamp\n    }\n  }];\n}\n\nlet isBooking = false;\nlet bookingData = null;\nlet replyText = '';\n\ntry {\n  const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\"booking\"[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.booking === true && parsed.phone) {\n      isBooking = true;\n      bookingData = {\n        name: parsed.name || 'Khong ro',\n        phone: parsed.phone || '',\n        service: parsed.service || 'Khong ro',\n        note: parsed.note || '',\n        timestamp\n      };\n      replyText = `✅ Em da ghi nhan lich hen cua anh/chị ${bookingData.name} roi a!\\n\\n📋 Thong tin:\\n• Dich vu: ${bookingData.service}\\n• Ghi chu: ${bookingData.note || 'Khong co'}\\n\\nEm se lien he xac nhan lai voi anh/chị trong thoi gian som nhat. 💖`;\n    }\n  }\n} catch (e) {\n  isBooking = false;\n}\n\nif (!isBooking) replyText = aiOutput;\n\nlet messageType = 'Tu van';\nif (isBooking) messageType = 'Dat lich';\nelse {\n  const lowerMsg = customerMessage.toLowerCase();\n  if (lowerMsg.match(/gia|bao nhieu|phi|dat|re/)) messageType = 'Hoi gia';\n  else if (lowerMsg.match(/phan nan|te|kem|chui|buc/)) messageType = 'Phan nan';\n  else if (lowerMsg.match(/gio|dia chi|o dau|map/)) messageType = 'Hoi thong tin';\n}\n\nreturn [{\n  json: {\n    isBooking, bookingData, replyText, senderId, senderName,\n    rawAiOutput: aiOutput, threadId, isError: false, messageType, customerMessage, timestamp\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [250, 0],
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "name": "Parse Booking",
        "notes": "Parse booking JSON from AI output"
      },
      {
        "parameters": {
          "jsCode": "// Unmask Reply -- restore real names/phones in customer-facing messages\n// HIGH-2 fix: customer sees their real name, not [NAME_0]\nconst items = $input.all();\nconst data = items[0].json;\nlet reply = data.replyText || '';\nconst phoneMap = data.phoneMap || [];\nconst nameMap = data.nameMap || [];\n\nphoneMap.forEach((entry) => {\n  const escaped = entry.mask.replace(/[[\\]]/g, '\\\\$&');\n  reply = reply.replace(new RegExp(escaped, 'g'), entry.real);\n  if (entry.mask === '[PHONE_0]') reply = reply.replace(/\\[PHONE\\]/g, entry.real);\n});\n\nnameMap.forEach((entry) => {\n  const escaped = entry.mask.replace(/[[\\]]/g, '\\\\$&');\n  reply = reply.replace(new RegExp(escaped, 'g'), entry.real);\n});\n\nreturn [{\n  json: { ...data, replyText: reply }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [350, 0],
        "id": "aa110001-0001-4000-a001-000000000016",
        "name": "Code - Unmask Reply",
        "notes": "Unmask names/phones. HIGH-2 fix"
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
            "conditions": [
              { "id": "booking-check", "leftValue": "={{ $json.isBooking }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [450, 0],
        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
        "name": "IF - Co dat cho?",
        "notes": "Phan nhanh TRUE=FALSE"
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": { "__rl": true, "value": "", "mode": "list", "cachedResultName": "[CHON GOOGLE SHEET DAT CHO]" },
          "sheetName": { "__rl": true, "value": "", "mode": "list", "cachedResultName": "DatCho" },
          "filters": {}, "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [550, -200],
        "id": "aa110001-0001-4000-a001-000000000017",
        "name": "GS - Check Duplicate",
        "notes": "Doc danh sach dat cho de kiem tra trung lap",
        "credentials": { "googleSheetsOAuth2Api": { "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN", "name": "Google Sheets account" } }
      },
      {
        "parameters": {
          "jsCode": "// Duplicate Check -- CRITICAL-4: cross-node phone access\nconst existingRows = $input.all();\nconst smartCollection = $('Code - Smart Collection').first().json;\nconst parseBooking = $('Parse Booking').first().json;\nconst phone = smartCollection.currentDetected?.phone || parseBooking.bookingData?.phone;\n\nlet action = 'insert';\nlet reply = '';\nlet existingRow = null;\n\nconst match = existingRows.find(r => {\n  const rowPhone = r.json['So dien thoai'] || r.json['Số điện thoại'] || '';\n  return rowPhone === phone;\n});\n\nif (match) {\n  existingRow = match.json;\n  const status = existingRow['Trang thai'] || existingRow['Trạng thái'] || '';\n  if (status === 'Moi dat' || status === 'Mới đặt') { action = 'update'; reply = 'Em đã cập nhật lịch cho anh/chị rồi ạ! 💖'; }\n  else if (status === 'Da xac nhan' || status === 'Đã xác nhận') { action = 'reject'; reply = 'Lịch đã xác nhận! Gọi: [SPA_PHONE] 📞'; }\n  else if (status === 'Hoan thanh' || status === 'Hoàn thành') { action = 'insert'; reply = ''; }\n}\n\nreturn [{\n  json: { ...$input.first().json, duplicateAction: action, existingRow, duplicateReply: reply, bookingData: parseBooking.bookingData }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [650, -200],
        "id": "aa110001-0001-4000-a001-000000000018",
        "name": "Code - Check Duplicate",
        "notes": "Duplicate check. CRITICAL-4: cross-node phone access"
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
            "conditions": [{ "id": "dup-check", "leftValue": "={{ $json.duplicateAction }}", "rightValue": "reject", "operator": { "type": "string", "operation": "equals" } }],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [750, -200],
        "id": "aa110001-0001-4000-a001-000000000019",
        "name": "IF - Duplicate?",
        "notes": "Kiem tra trung lap"
      },
      {
        "parameters": {
          "threadId": "={{ $('Zalo Message Trigger').item.json.threadId }}",
          "message": "={{ $json.duplicateReply }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [850, -300],
        "id": "aa110001-0001-4000-a001-000000000020",
        "name": "Zalo - Duplicate Reply",
        "notes": "Tra loi khi dat trung lap",
        "credentials": { "zaloApi": { "id": "62UoySzDRVlZ0ZSG", "name": "Zalo - Truong Thinh (0912679845)" } }
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
            "conditions": [{ "id": "ins-upd-check", "leftValue": "={{ $json.duplicateAction }}", "rightValue": "insert", "operator": { "type": "string", "operation": "equals" } }],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [850, -200],
        "id": "aa110001-0001-4000-a001-000000000021",
        "name": "IF - Insert or Update?",
        "notes": "Phan nhanh insert/update"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": { "__rl": true, "value": "", "mode": "list", "cachedResultName": "[CHON GOOGLE SHEET DAT CHO]" },
          "sheetName": { "__rl": true, "value": "", "mode": "list", "cachedResultName": "DatCho" },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Thời gian": "={{ $json.bookingData.timestamp }}", "Tên khách": "={{ $json.bookingData.name }}",
              "Số điện thoại": "={{ $json.bookingData.phone }}", "Dịch vụ": "={{ $json.bookingData.service }}",
              "Ghi chú": "={{ $json.bookingData.note }}", "Zalo ID": "={{ $json.senderId }}", "Trạng thái": "Mới đặt"
            },
            "matchingColumns": ["Số điện thoại"],
            "schema": [
              { "displayName": "Thời gian", "name": "Thời gian", "type": "string" },
              { "displayName": "Tên khách", "name": "Tên khách", "type": "string" },
              { "displayName": "Số điện thoại", "name": "Số điện thoại", "type": "string" },
              { "displayName": "Dịch vụ", "name": "Dịch vụ", "type": "string" },
              { "displayName": "Ghi chú", "name": "Ghi chú", "type": "string" },
              { "displayName": "Zalo ID", "name": "Zalo ID", "type": "string" },
              { "displayName": "Trạng thái", "name": "Trạng thái", "type": "string" }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [950, -250],
        "id": "aa110001-0001-4000-a001-000000000022",
        "name": "GS - Update Booking",
        "notes": "Cap nhat booking khi trung lap",
        "credentials": { "googleSheetsOAuth2Api": { "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN", "name": "Google Sheets account" } }
      },
      {
        "parameters": {
          "jsCode": "// Business Hours -- HCM timezone\n// MEDIUM-6 fix: hour >= 8 && hour <= 20 (includes 20:xx)\nconst now = new Date();\nconst hcmNow = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh' }));\nconst hour = hcmNow.getHours();\nconst isBusinessHours = hour >= 8 && hour <= 20;\nreturn [{\n  json: { ...$input.first().json, isBusinessHours, currentHourHCM: hour }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1050, -200],
        "id": "aa110001-0001-4000-a001-000000000023",
        "name": "Code - Gio lam viec",
        "notes": "Business Hours. MEDIUM-6: 08:00-20:00 inclusive"
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
            "conditions": [{ "id": "bh-check", "leftValue": "={{ $json.isBusinessHours }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [1150, -200],
        "id": "aa110001-0001-4000-a001-000000000024",
        "name": "IF - Gio lam viec?",
        "notes": "Kiem tra gio lam viec 8h-20h"
      },
      {
        "parameters": {
          "jsCode": "// Deferred Reply -- outside business hours\nconst data = $input.first().json;\nconst b = data.bookingData || {};\nconst reply = `Dạ em đã ghi nhận lịch của anh/chị rồi ạ! ✅\\nDịch vụ: ${b.service || 'Chưa rõ'}\\nEm sẽ xác nhận lại vào sáng mai lúc 8h. 💖`;\nreturn [{\n  json: { ...data, replyText: reply, threadId: data.threadId || '' }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1250, -50],
        "id": "aa110001-0001-4000-a001-000000000025",
        "name": "Code - Deferred Reply",
        "notes": "Deferred reply. MEDIUM-4 fix"
      },
      {
        "parameters": {
          "threadId": "={{ $('Zalo Message Trigger').item.json.threadId }}",
          "message": "={{ $json.replyText }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [1350, -50],
        "id": "aa110001-0001-4000-a001-000000000026",
        "name": "Zalo - Deferred Reply",
        "notes": "Gui reply khi ngoai gio lam viec",
        "credentials": { "zaloApi": { "id": "62UoySzDRVlZ0ZSG", "name": "Zalo - Truong Thinh (0912679845)" } }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": { "__rl": true, "value": "", "mode": "list", "cachedResultName": "[CHON GOOGLE SHEET DAT CHO]" },
          "sheetName": { "__rl": true, "value": "", "mode": "list", "cachedResultName": "DatCho" },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Thời gian": "={{ $json.bookingData.timestamp }}", "Tên khách": "={{ $json.bookingData.name }}",
              "Số điện thoại": "={{ $json.bookingData.phone }}", "Dịch vụ": "={{ $json.bookingData.service }}",
              "Ghi chú": "={{ $json.bookingData.note }}", "Zalo ID": "={{ $json.senderId }}", "Trạng thái": "Mới đặt"
            },
            "matchingColumns": ["Số điện thoại"],
            "schema": [
              { "displayName": "Thời gian", "name": "Thời gian", "type": "string" },
              { "displayName": "Tên khách", "name": "Tên khách", "type": "string" },
              { "displayName": "Số điện thoại", "name": "Số điện thoại", "type": "string" },
              { "displayName": "Dịch vụ", "name": "Dịch vụ", "type": "string" },
              { "displayName": "Ghi chú", "name": "Ghi chú", "type": "string" },
              { "displayName": "Zalo ID", "name": "Zalo ID", "type": "string" },
              { "displayName": "Trạng thái", "name": "Trạng thái", "type": "string" }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [1250, -200],
        "id": "aa110001-0001-4000-a001-000000000027",
        "name": "GS - Luu dat cho",
        "notes": "Luu dat cho vao Google Sheet",
        "credentials": { "googleSheetsOAuth2Api": { "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN", "name": "Google Sheets account" } }
      },
      {
        "parameters": {
          "jsCode": "// Tao tin nhan bao chu spa\nconst data = $input.first().json;\nconst b = data.bookingData;\nconst ownerMsg = `🔔 KHACH HANG MOI DAT LICH\\n\\n👤 Ten: ${b.name}\\n📞 SDT: ${b.phone}\\n💇 Dich vu: ${b.service}\\n📝 Ghi chu: ${b.note || 'Khong co'}\\n⏰ Thoi gian: ${b.timestamp}\\n\\nXac nhan lich hen voi khach ngay nhe!`;\nreturn [{\n  json: { ownerMessage: ownerMsg, threadId: data.threadId }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1350, -200],
        "id": "aa110001-0001-4000-a001-000000000028",
        "name": "Tao tin nhan bao chu",
        "notes": "Tao noi dung bao chu spa"
      },
      {
        "parameters": {
          "threadId": "={{ $json.threadId }}",
          "message": "={{ $json.ownerMessage }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [1450, -200],
        "id": "aa110001-0001-4000-a001-000000000029",
        "name": "Zalo - Bao chu spa",
        "notes": "Gui tin nhan bao chu spa",
        "credentials": { "zaloApi": { "id": "62UoySzDRVlZ0ZSG", "name": "Zalo - Truong Thinh (0912679845)" } }
      },
      {
        "parameters": {
          "threadId": "={{ $('Zalo Message Trigger').item.json.threadId }}",
          "message": "={{ $json.replyText }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [1350, 0],
        "id": "aa110001-0001-4000-a001-000000000030",
        "name": "Zalo - Xac nhan khach",
        "notes": "Gui xac nhan dat lich cho khach",
        "credentials": { "zaloApi": { "id": "62UoySzDRVlZ0ZSG", "name": "Zalo - Truong Thinh (0912679845)" } }
      },
      {
        "parameters": {
          "threadId": "={{ $('Zalo Message Trigger').item.json.threadId }}",
          "message": "={{ $json.replyText }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [550, 250],
        "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
        "name": "Zalo - Tra loi thuong",
        "notes": "Tra loi tin nhan thuong",
        "credentials": { "zaloApi": { "id": "62UoySzDRVlZ0ZSG", "name": "Zalo - Truong Thinh (0912679845)" } }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": { "__rl": true, "value": "", "mode": "list", "cachedResultName": "[CHON GOOGLE SHEET LOG CHAT]" },
          "sheetName": { "__rl": true, "value": "", "mode": "list", "cachedResultName": "Sheet1" },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Thời gian": "={{ $json.timestamp }}",
              "Zalo ID": "={{ $json.senderId }}",
              "Tên khách": "={{ $json.senderName }}",
              "Tin nhắn khách": "{{ $json.maskedMessage || $json.customerMessage }}",
              "Phản hồi AI": "={{ $json.replyText }}",
              "Loại": "={{ $json.messageType }}",
              "Đặt lịch": "={{ $json.isBooking ? 'Có' : 'Không' }}"
            },
            "schema": [
              { "displayName": "Thời gian", "name": "Thời gian", "type": "string" },
              { "displayName": "Zalo ID", "name": "Zalo ID", "type": "string" },
              { "displayName": "Tên khách", "name": "Tên khách", "type": "string" },
              { "displayName": "Tin nhắn khách", "name": "Tin nhắn khách", "type": "string" },
              { "displayName": "Phản hồi AI", "name": "Phản hồi AI", "type": "string" },
              { "displayName": "Loại", "name": "Loại", "type": "string" },
              { "displayName": "Đặt lịch", "name": "Đặt lịch", "type": "string" }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [450, 350],
        "id": "aa110001-0001-4000-a001-000000000003",
        "name": "Google Sheets - Log chat",
        "notes": "Ghi log chat. MEDIUM-5 fix: uses maskedMessage for PII protection",
        "credentials": { "googleSheetsOAuth2Api": { "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN", "name": "Google Sheets account" } }
      }
    ],
    "connections": {
      "Zalo Message Trigger": { "main": [[{ "node": "Code - PII Masking", "type": "main", "index": 0 }]] },
      "Code - PII Masking": { "main": [[{ "node": "Google Sheets - Doc bang gia", "type": "main", "index": 0 }]] },
      "Google Sheets - Doc bang gia": { "main": [[{ "node": "Code - Chuan bi context", "type": "main", "index": 0 }]] },
      "Code - Chuan bi context": { "main": [[{ "node": "Code - Smart Collection", "type": "main", "index": 0 }]] },
      "Code - Smart Collection": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
      "Simple Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
      "Google Gemini Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
      "AI Agent": { "main": [[{ "node": "Code - Escalation", "type": "main", "index": 0 }]] },
      "Code - Escalation": { "main": [[{ "node": "IF - Escalation?", "type": "main", "index": 0 }]] },
      "IF - Escalation?": {
        "main": [
          [{ "node": "Code - Format Escalation Alert", "type": "main", "index": 0 }, { "node": "Zalo - Escalation Reply", "type": "main", "index": 0 }],
          [{ "node": "Parse Booking", "type": "main", "index": 0 }]
        ]
      },
      "Code - Format Escalation Alert": { "main": [[{ "node": "Zalo - Bao chu spa", "type": "main", "index": 0 }]] },
      "Parse Booking": { "main": [[{ "node": "Code - Unmask Reply", "type": "main", "index": 0 }, { "node": "Google Sheets - Log chat", "type": "main", "index": 0 }]] },
      "Code - Unmask Reply": { "main": [[{ "node": "IF - Co dat cho?", "type": "main", "index": 0 }]] },
      "IF - Co dat cho?": {
        "main": [
          [{ "node": "GS - Check Duplicate", "type": "main", "index": 0 }],
          [{ "node": "Zalo - Tra loi thuong", "type": "main", "index": 0 }]
        ]
      },
      "GS - Check Duplicate": { "main": [[{ "node": "Code - Check Duplicate", "type": "main", "index": 0 }]] },
      "Code - Check Duplicate": { "main": [[{ "node": "IF - Duplicate?", "type": "main", "index": 0 }]] },
      "IF - Duplicate?": {
        "main": [
          [{ "node": "Zalo - Duplicate Reply", "type": "main", "index": 0 }],
          [{ "node": "IF - Insert or Update?", "type": "main", "index": 0 }]
        ]
      },
      "IF - Insert or Update?": {
        "main": [
          [{ "node": "GS - Luu dat cho", "type": "main", "index": 0 }],
          [{ "node": "GS - Update Booking", "type": "main", "index": 0 }]
        ]
      },
      "GS - Update Booking": { "main": [[{ "node": "Code - Gio lam viec", "type": "main", "index": 0 }]] },
      "GS - Luu dat cho": { "main": [[{ "node": "Code - Gio lam viec", "type": "main", "index": 0 }]] },
      "Code - Gio lam viec": { "main": [[{ "node": "IF - Gio lam viec?", "type": "main", "index": 0 }]] },
      "IF - Gio lam viec?": {
        "main": [
          [{ "node": "Tao tin nhan bao chu", "type": "main", "index": 0 }, { "node": "Zalo - Xac nhan khach", "type": "main", "index": 0 }],
          [{ "node": "GS - Luu dat cho", "type": "main", "index": 0 }, { "node": "Code - Deferred Reply", "type": "main", "index": 0 }]
        ]
      },
      "Tao tin nhan bao chu": { "main": [[{ "node": "Zalo - Bao chu spa", "type": "main", "index": 0 }]] },
      "Code - Deferred Reply": { "main": [[{ "node": "Zalo - Deferred Reply", "type": "main", "index": 0 }]] }
    },
    "settings": {
      "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": true,
      "timeSavedMode": "fixed", "callerPolicy": "workflowsFromSameOwner",
      "saveManualExecutions": true, "saveExecutionProgress": true
    },
    "staticData": { "node:Zalo Message Trigger": { "isConnected": true } },
    "meta": { "templateCredsSetupCompleted": false },
    "nodeGroups": [], "pinData": {},
    "tags": [{ "id": "ZCCZsC9EQeeTdi3Y", "name": "wf1" }]
  }
]
