n8n/workflow-api-backend.json
[
  {
    "name": "API Backend - Ghost Worker",
    "nodes": [
      {
        "parameters": {},
        "id": "wf3-static-data",
        "name": "Static Data (API Key)",
        "type": "n8n-nodes-base.setNode",
        "typeVersion": 1,
        "position": [
          -1200,
          -400
        ],
        "notes": "API Key stored at workflow level. Set via n8n workflow static data panel: key='apiKey', value='gw-dev-api-key-change-in-production'"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "sync/{spa_id}",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-sync",
        "name": "Webhook - Sync",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1000,
          -600
        ],
        "webhookId": "wf3-sync"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — reject if X-API-Key is missing or invalid\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: {\n      success: false,\n      error: 'Unauthorized: missing or invalid X-API-Key header'\n    },\n    meta: { httpStatus: 401 }\n  }];\n}\n\n// Pass through original input data on success\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-sync",
        "name": "Code - Auth Check (Sync)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -800,
          -600
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// VALIDATE + PARSE SYNC PAYLOAD\n// spa_id must be included in every row written to GS\n// ============================================\nconst body = $input.first().json.body;\nconst spaId = $input.first().json.params?.spa_id;\n\nif (!spaId) {\n  return [{ json: { success: false, error: 'Missing spa_id in URL' }, meta: { httpStatus: 400 } }];\n}\n\nconst { type, data } = body || {};\nif (!type || !data) {\n  return [{ json: { success: false, error: 'Missing type or data in body' }, meta: { httpStatus: 400 } }];\n}\n\nif (!['booking', 'chat_log'].includes(type)) {\n  return [{ json: { success: false, error: `Invalid type: ${type}. Must be 'booking' or 'chat_log'` }, meta: { httpStatus: 400 } }];\n}\n\n// Normalize data shape — spa_id is ALWAYS the first column\nconst normalized = type === 'booking' ? {\n  'spa_id': spaId,\n  'Thời gian': data.time || new Date().toISOString(),\n  'Tên khách': data.name || '',\n  'Số điện thoại': data.phone || '',\n  'Dịch vụ': data.service || '',\n  'Ghi chú': data.note || '',\n  'Zalo ID': data.senderId || '',\n  'Trạng thái': 'Mới đặt',\n  'Chi nhánh': data.branch || ''\n} : {\n  'spa_id': spaId,\n  'Thời gian': data.time || new Date().toISOString(),\n  'Zalo ID': data.senderId || '',\n  'Tên khách': data.senderName || '',\n  'Tin nhắn khách': data.customerMessage || '',\n  'Phản hồi AI': data.aiReply || '',\n  'Loại': data.category || 'Tư vấn',\n  'Đặt lịch': data.isBooking ? 'Có' : 'Không'\n};\n\nreturn [{\n  json: {\n    success: true,\n    syncType: type,\n    spaId: spaId,\n    rowData: normalized\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-parse-sync",
        "name": "Code - Validate + Parse (Sync)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -600,
          -600
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "wf3-type-check",
                "leftValue": "={{ $json.syncType }}",
                "rightValue": "booking",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "wf3-if-type",
        "name": "IF - Type",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -400,
          -600
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET ĐẶT CHỖ - DATCHO]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "DatCho"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "spa_id": "={{ $json.rowData['spa_id'] }}",
              "Thời gian": "={{ $json.rowData['Thời gian'] }}",
              "Tên khách": "={{ $json.rowData['Tên khách'] }}",
              "Số điện thoại": "={{ $json.rowData['Số điện thoại'] }}",
              "Dịch vụ": "={{ $json.rowData['Dịch vụ'] }}",
              "Ghi chú": "={{ $json.rowData['Ghi chú'] }}",
              "Zalo ID": "={{ $json.rowData['Zalo ID'] }}",
              "Trạng thái": "={{ $json.rowData['Trạng thái'] }}",
              "Chi nhánh": "={{ $json.rowData['Chi nhánh'] }}"
            },
            "schema": [
              {
                "displayName": "spa_id",
                "name": "spa_id",
                "type": "string"
              },
              {
                "displayName": "Thời gian",
                "name": "Thời gian",
                "type": "string"
              },
              {
                "displayName": "Tên khách",
                "name": "Tên khách",
                "type": "string"
              },
              {
                "displayName": "Số điện thoại",
                "name": "Số điện thoại",
                "type": "string"
              },
              {
                "displayName": "Dịch vụ",
                "name": "Dịch vụ",
                "type": "string"
              },
              {
                "displayName": "Ghi chú",
                "name": "Ghi chú",
                "type": "string"
              },
              {
                "displayName": "Zalo ID",
                "name": "Zalo ID",
                "type": "string"
              },
              {
                "displayName": "Trạng thái",
                "name": "Trạng thái",
                "type": "string"
              },
              {
                "displayName": "Chi nhánh",
                "name": "Chi nhánh",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-append-datcho",
        "name": "GS - Append DatCho",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -200,
          -700
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET LOG CHAT]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "LogChat"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "spa_id": "={{ $json.rowData['spa_id'] }}",
              "Thời gian": "={{ $json.rowData['Thời gian'] }}",
              "Zalo ID": "={{ $json.rowData['Zalo ID'] }}",
              "Tên khách": "={{ $json.rowData['Tên khách'] }}",
              "Tin nhắn khách": "={{ $json.rowData['Tin nhắn khách'] }}",
              "Phản hồi AI": "={{ $json.rowData['Phản hồi AI'] }}",
              "Loại": "={{ $json.rowData['Loại'] }}",
              "Đặt lịch": "={{ $json.rowData['Đặt lịch'] }}"
            },
            "schema": [
              {
                "displayName": "spa_id",
                "name": "spa_id",
                "type": "string"
              },
              {
                "displayName": "Thời gian",
                "name": "Thời gian",
                "type": "string"
              },
              {
                "displayName": "Zalo ID",
                "name": "Zalo ID",
                "type": "string"
              },
              {
                "displayName": "Tên khách",
                "name": "Tên khách",
                "type": "string"
              },
              {
                "displayName": "Tin nhắn khách",
                "name": "Tin nhắn khách",
                "type": "string"
              },
              {
                "displayName": "Phản hồi AI",
                "name": "Phản hồi AI",
                "type": "string"
              },
              {
                "displayName": "Loại",
                "name": "Loại",
                "type": "string"
              },
              {
                "displayName": "Đặt lịch",
                "name": "Đặt lịch",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-append-logchat",
        "name": "GS - Append LogChat",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -200,
          -500
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ { \"success\": true, \"message\": \"Data synced successfully\", \"type\": $('Code - Validate + Parse (Sync)').first().json.syncType } }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-sync-success",
        "name": "Respond - Sync Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          0,
          -600
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}",
              "responseCode": 401
            },
            "options": {}
          }
        },
        "id": "wf3-respond-sync-authfail",
        "name": "Respond - Auth Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -600,
          -300
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "api/{spa_id}/dashboard",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-dashboard",
        "name": "Webhook - Dashboard",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1000,
          0
        ],
        "webhookId": "wf3-dashboard"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Dashboard endpoint\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-dashboard",
        "name": "Code - Auth Check (Dashboard)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -800,
          0
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET LOG CHAT]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "LogChat"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Dashboard').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-logchat-today",
        "name": "GS - Read LogChat (today)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -600,
          -100
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET ĐẶT CHỖ - DATCHO]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "DatCho"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Dashboard').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-datcho-today",
        "name": "GS - Read DatCho (today)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -600,
          100
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// DASHBOARD CALCULATION\n// Aggregated stats for today, scoped to spa_id\n// ============================================\nconst logRows = $('GS - Read LogChat (today)').all();\nconst bookingRows = $('GS - Read DatCho (today)').all();\nconst now = new Date();\nconst hcmNow = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh' }));\nconst dateStr = hcmNow.toISOString().split('T')[0];\n\nconst totalMessages = logRows.length;\nconst totalBookings = bookingRows.length;\nconst pendingBookings = bookingRows.filter(r => r.json['Trạng thái'] === 'Mới đặt').length;\nconst confirmedBookings = bookingRows.filter(r => r.json['Trạng thái'] === 'Đã xác nhận').length;\nconst completedBookings = bookingRows.filter(r => r.json['Trạng thái'] === 'Hoàn thành').length;\nconst conversionRate = totalBookings > 0\n  ? ((confirmedBookings + completedBookings) / totalBookings * 100).toFixed(1)\n  : '0.0';\n\n// Top services\nconst svcMap = {};\nbookingRows.forEach(r => {\n  const svc = r.json['Dịch vụ'] || 'Khác';\n  svcMap[svc] = (svcMap[svc] || 0) + 1;\n});\nconst topServices = Object.entries(svcMap)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([name, count]) => ({ name, count }));\n\n// Recent bookings (last 10)\nconst recentBookings = [...bookingRows].sort((a, b) => new Date(b.json['Thời gian'] || 0) - new Date(a.json['Thời gian'] || 0)).slice(0, 10).map((r, idx) => ({\n  id: String(idx + 1),\n  name: r.json['Tên khách'],\n  service: r.json['Dịch vụ'],\n  status: r.json['Trạng thái'],\n  time: r.json['Thời gian']?.split('T')[1]?.slice(0, 5) || ''\n}));\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      date: dateStr,\n      totalMessages,\n      totalBookings,\n      pendingBookings,\n      confirmedBookings,\n      completedBookings,\n      conversionRate,\n      topServices,\n      recentBookings\n    }\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-dashboard-calc",
        "name": "Code - Dashboard Calculation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-dashboard",
        "name": "Respond - Dashboard",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -200,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}",
              "responseCode": 401
            },
            "options": {}
          }
        },
        "id": "wf3-respond-dashboard-authfail",
        "name": "Respond - Dashboard Auth Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -600,
          200
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "api/{spa_id}/customers",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-customers",
        "name": "Webhook - Customers",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1000,
          400
        ],
        "webhookId": "wf3-customers"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Customers endpoint\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-customers",
        "name": "Code - Auth Check (Customers)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -800,
          400
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET ĐẶT CHỖ - DATCHO]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "DatCho"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Customers').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-datcho-customers",
        "name": "GS - Read DatCho (All Customers)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -600,
          400
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// CUSTOMER LIST — unique by phone, with search and pagination\n// Only rows matching spa_id are returned (GS Read filtered above)\n// ============================================\nconst rows = $('GS - Read DatCho (All Customers)').all();\nconst params = $('Webhook - Customers').first().json.query || {};\nconst page = Math.max(parseInt(params.page) || 1, 1);\nconst limit = Math.min(Math.max(parseInt(params.limit) || 20, 1), 100);\nconst search = (params.search || '').toLowerCase();\n\n// Deduplicate by phone\nconst customerMap = {};\nrows.forEach(r => {\n  const phone = r.json['Số điện thoại'];\n  if (!phone) return;\n  if (!customerMap[phone]) {\n    customerMap[phone] = {\n      name: r.json['Tên khách'] || '',\n      phone,\n      totalBookings: 0,\n      lastBooking: r.json['Thời gian'],\n      status: r.json['Trạng thái'],\n      service: r.json['Dịch vụ'] || ''\n    };\n  }\n  customerMap[phone].totalBookings++;\n});\n\nlet customers = Object.values(customerMap);\n\n// Search filter\nif (search) {\n  customers = customers.filter(c =>\n    (c.name && c.name.toLowerCase().includes(search)) ||\n    c.phone.includes(search) ||\n    (c.service && c.service.toLowerCase().includes(search))\n  );\n}\n\nconst total = customers.length;\nconst offset = (page - 1) * limit;\nconst paginated = customers.slice(offset, offset + limit).map((c, i) => ({\n  id: String(offset + i + 1),\n  ...c\n}));\n\nreturn [{\n  json: {\n    success: true,\n    data: paginated,\n    total,\n    page,\n    limit,\n    totalPages: Math.ceil(total / limit)\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-customers-calc",
        "name": "Code - Filter Customers",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          400
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-customers",
        "name": "Respond - Customers",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -200,
          400
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}",
              "responseCode": 401
            },
            "options": {}
          }
        },
        "id": "wf3-respond-customers-authfail",
        "name": "Respond - Customers Auth Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -600,
          500
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "api/{spa_id}/bookings",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-bookings-list",
        "name": "Webhook - Bookings List",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          -800
        ],
        "webhookId": "wf3-bookings-list"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Bookings List endpoint\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-bookings-list",
        "name": "Code - Auth Check (Bookings List)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -800
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET ĐẶT CHỖ - DATCHO]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "DatCho"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Bookings List').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-datcho-bookings",
        "name": "GS - Read DatCho (All Bookings)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          600,
          -800
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// BOOKINGS LIST — filterable by status, paginated\n// Uses Google Sheets row number as stable ID\n// ============================================\nconst rows = $('GS - Read DatCho (All Bookings)').all();\nconst params = $('Webhook - Bookings List').first().json.query || {};\nconst page = Math.max(parseInt(params.page) || 1, 1);\nconst limit = Math.min(Math.max(parseInt(params.limit) || 20, 1), 100);\nconst statusFilter = params.status;\n\nlet bookings = rows.map((r, index) => ({\n  id: String(index + 2), // Row 1 is header, data starts at row 2\n  name: r.json['Tên khách'] || '',\n  phone: r.json['Số điện thoại'] || '',\n  service: r.json['Dịch vụ'] || '',\n  note: r.json['Ghi chú'] || '',\n  status: r.json['Trạng thái'] || '',\n  time: r.json['Thời gian'] || '',\n  branch: r.json['Chi nhánh'] || '',\n  spaId: r.json['spa_id']\n}));\n\nif (statusFilter) {\n  bookings = bookings.filter(b => b.status === statusFilter);\n}\n\n// Sort by time descending (most recent first)\nbookings.sort((a, b) => {\n  if (!a.time) return 1;\n  if (!b.time) return -1;\n  return new Date(b.time).getTime() - new Date(a.time).getTime();\n});\n\nconst total = bookings.length;\nconst offset = (page - 1) * limit;\nconst paginated = bookings.slice(offset, offset + limit);\n\nreturn [{\n  json: {\n    success: true,\n    data: paginated,\n    total,\n    page,\n    limit,\n    totalPages: Math.ceil(total / limit)\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-bookings-list-calc",
        "name": "Code - Bookings List",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          -800
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-bookings-list",
        "name": "Respond - Bookings List",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1000,
          -800
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}",
              "responseCode": 401
            },
            "options": {}
          }
        },
        "id": "wf3-respond-bookings-list-authfail",
        "name": "Respond - Bookings List Auth Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          300,
          -700
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "api/{spa_id}/bookings/{id}",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-update-booking",
        "name": "Webhook - Update Booking",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          -400
        ],
        "webhookId": "wf3-update-booking"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Update Booking endpoint\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-update-booking",
        "name": "Code - Auth Check (Update Booking)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          -400
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// UPDATE BOOKING STATUS by row number\n// Booking ID is 1-based row number (row 2 = first data row)\n// ============================================\nconst body = $input.first().json.body;\nconst spaId = $input.first().json.params?.spa_id;\nconst bookingId = $input.first().json.params?.id;\nconst newStatus = body?.status;\nconst validStatuses = ['Mới đặt', 'Đã xác nhận', 'Hoàn thành', 'Đã hủy'];\n\nif (!newStatus || !validStatuses.includes(newStatus)) {\n  return [{\n    json: { success: false, error: `Invalid status: ${newStatus}. Must be one of: ${validStatuses.join(', ')}` },\n    meta: { httpStatus: 400 }\n  }];\n}\n\n// bookingId is 1-based row number\nconst rowIndex = parseInt(bookingId) || 0;\nif (rowIndex < 2) {\n  return [{\n    json: { success: false, error: 'Invalid booking ID. Must be >= 2 (header is row 1).' },\n    meta: { httpStatus: 400 }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    bookingId: bookingId,\n    rowIndex: rowIndex,\n    spaId: spaId,\n    newStatus: newStatus,\n    updatedAt: new Date().toISOString()\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-update-booking-parse",
        "name": "Code - Update Booking Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          -400
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET ĐẶT CHỖ - DATCHO]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "DatCho"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Code - Update Booking Parse').first().json.spaId }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-datcho-update",
        "name": "GS - Read DatCho (for Update)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          800,
          -400
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET ĐẶT CHỖ - DATCHO]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "DatCho"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Trạng thái": "={{ $('Code - Update Booking Parse').first().json.newStatus }}"
            },
            "schema": [
              {
                "displayName": "Trạng thái",
                "name": "Trạng thái",
                "type": "string"
              }
            ]
          },
          "options": {
            "valueInputMode": "userEntered"
          }
        },
        "id": "wf3-gs-update-datcho",
        "name": "GS - Update DatCho Status",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1000,
          -400
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-update-booking",
        "name": "Respond - Update Booking",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1200,
          -400
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}",
              "responseCode": 401
            },
            "options": {}
          }
        },
        "id": "wf3-respond-update-booking-authfail",
        "name": "Respond - Update Booking Auth Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          300,
          -300
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "api/{spa_id}/services",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-services-list",
        "name": "Webhook - Services List",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1200,
          -800
        ],
        "webhookId": "wf3-services-list"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "api/{spa_id}/services",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-services-create",
        "name": "Webhook - Create Service",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1200,
          -400
        ],
        "webhookId": "wf3-services-create"
      },
      {
        "parameters": {
          "httpMethod": "PUT",
          "path": "api/{spa_id}/services/{id}",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-services-update",
        "name": "Webhook - Update Service",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1200,
          0
        ],
        "webhookId": "wf3-services-update"
      },
      {
        "parameters": {
          "httpMethod": "DELETE",
          "path": "api/{spa_id}/services/{id}",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-services-delete",
        "name": "Webhook - Delete Service",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1200,
          400
        ],
        "webhookId": "wf3-services-delete"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Services endpoints (shared)\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-services-list",
        "name": "Code - Auth Check (Services List)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          -800
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Create Service\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-services-create",
        "name": "Code - Auth Check (Create Service)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          -400
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Update Service\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-services-update",
        "name": "Code - Auth Check (Update Service)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Delete Service\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-services-delete",
        "name": "Code - Auth Check (Delete Service)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          400
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET DỊCH VỤ - SERVICES]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Services"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Services List').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-services",
        "name": "GS - Read Services",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1600,
          -800
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// GET SERVICES — parse from GS rows\n// ============================================\nconst rows = $('GS - Read Services').all();\nconst services = rows.map(r => ({\n  id: r.json['ID'] || r.json['Dịch vụ'],\n  name: r.json['Dịch vụ'] || '',\n  price: parseInt(r.json['Giá']) || 0,\n  description: r.json['Mô tả'] || '',\n  active: r.json['Trạng thái'] !== 'Ẩn'\n}));\n\nreturn [{ json: { success: true, data: services } }];",
          "typeVersion": 2
        },
        "id": "wf3-services-list-parse",
        "name": "Code - Services List Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          -800
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-services-list",
        "name": "Respond - Services List",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2000,
          -800
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// CREATE SERVICE — parse and prepare row data\n// ============================================\nconst body = $input.first().json.body;\nconst spaId = $input.first().json.params?.spa_id;\nconst serviceId = 'svc-' + Date.now();\n\nif (!body.name) {\n  return [{ json: { success: false, error: 'Missing service name' }, meta: { httpStatus: 400 } }];\n}\n\nconst newService = {\n  'spa_id': spaId,\n  'ID': serviceId,\n  'Dịch vụ': body.name,\n  'Giá': String(body.price || 0),\n  'Mô tả': body.description || '',\n  'Trạng thái': 'Hiện'\n};\n\nreturn [{\n  json: {\n    success: true,\n    serviceId: serviceId,\n    rowData: newService\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-create-service-parse",
        "name": "Code - Create Service Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          -400
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET DỊCH VỤ - SERVICES]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Services"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "spa_id": "={{ $json.rowData['spa_id'] }}",
              "ID": "={{ $json.rowData['ID'] }}",
              "Dịch vụ": "={{ $json.rowData['Dịch vụ'] }}",
              "Giá": "={{ $json.rowData['Giá'] }}",
              "Mô tả": "={{ $json.rowData['Mô tả'] }}",
              "Trạng thái": "={{ $json.rowData['Trạng thái'] }}"
            },
            "schema": [
              {
                "displayName": "spa_id",
                "name": "spa_id",
                "type": "string"
              },
              {
                "displayName": "ID",
                "name": "ID",
                "type": "string"
              },
              {
                "displayName": "Dịch vụ",
                "name": "Dịch vụ",
                "type": "string"
              },
              {
                "displayName": "Giá",
                "name": "Giá",
                "type": "string"
              },
              {
                "displayName": "Mô tả",
                "name": "Mô tả",
                "type": "string"
              },
              {
                "displayName": "Trạng thái",
                "name": "Trạng thái",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-append-service",
        "name": "GS - Append Service",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1800,
          -400
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-create-service",
        "name": "Respond - Create Service",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2000,
          -400
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// UPDATE SERVICE — parse and prepare row data\n// ============================================\nconst body = $input.first().json.body;\nconst id = $input.first().json.params?.id;\n\nif (!id) {\n  return [{ json: { success: false, error: 'Missing service ID' }, meta: { httpStatus: 400 } }];\n}\n\nconst updated = {\n  'Dịch vụ': body.name,\n  'Giá': String(body.price || 0),\n  'Mô tả': body.description || '',\n  'Trạng thái': body.active !== false ? 'Hiện' : 'Ẩn'\n};\n\nreturn [{\n  json: {\n    success: true,\n    serviceId: id,\n    rowData: updated\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-update-service-parse",
        "name": "Code - Update Service Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          0
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET DỊCH VỤ - SERVICES]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Services"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Update Service').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-services-update",
        "name": "GS - Read Services (for Update)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1800,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET DỊCH VỤ - SERVICES]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Services"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Dịch vụ": "={{ $json.rowData['Dịch vụ'] }}",
              "Giá": "={{ $json.rowData['Giá'] }}",
              "Mô tả": "={{ $json.rowData['Mô tả'] }}",
              "Trạng thái": "={{ $json.rowData['Trạng thái'] }}"
            },
            "schema": [
              {
                "displayName": "Dịch vụ",
                "name": "Dịch vụ",
                "type": "string"
              },
              {
                "displayName": "Giá",
                "name": "Giá",
                "type": "string"
              },
              {
                "displayName": "Mô tả",
                "name": "Mô tả",
                "type": "string"
              },
              {
                "displayName": "Trạng thái",
                "name": "Trạng thái",
                "type": "string"
              }
            ]
          },
          "options": {
            "valueInputMode": "userEntered"
          }
        },
        "id": "wf3-gs-update-service",
        "name": "GS - Update Service",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2000,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-update-service",
        "name": "Respond - Update Service",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2200,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// DELETE SERVICE — prepare deletion info\n// ============================================\nconst id = $input.first().json.params?.id;\n\nreturn [{\n  json: {\n    success: true,\n    serviceId: id,\n    deleted: true\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-delete-service-parse",
        "name": "Code - Delete Service Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          400
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET DỊCH VỤ - SERVICES]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Services"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Delete Service').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-services-delete",
        "name": "GS - Read Services (for Delete)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1800,
          400
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET DỊCH VỤ - SERVICES]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Services"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID": "={{ $('Code - Delete Service Parse').first().json.serviceId }}"
            },
            "schema": [
              {
                "displayName": "ID",
                "name": "ID",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-delete-service",
        "name": "GS - Delete Service",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2000,
          400
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-delete-service",
        "name": "Respond - Delete Service",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2200,
          400
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}",
              "responseCode": 401
            },
            "options": {}
          }
        },
        "id": "wf3-respond-services-authfail",
        "name": "Respond - Services Auth Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1500,
          -900
        ]
      },
      {
        "parameters": {
          "httpMethod": "PUT",
          "path": "api/{spa_id}/config",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-config",
        "name": "Webhook - Config",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1200,
          800
        ],
        "webhookId": "wf3-config"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Config endpoint\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-config",
        "name": "Code - Auth Check (Config)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          800
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// UPDATE CONFIG — parse and prepare row data\n// ============================================\nconst body = $input.first().json.body;\nconst spaId = $input.first().json.params?.spa_id;\n\nconst configData = {\n  'spa_id': spaId,\n  'Tên bot': body.botName || 'CS Bot',\n  'Lời chào': body.botGreeting || '',\n  'Giờ mở cửa': body.openTime || '08:00',\n  'Giờ đóng cửa': body.closeTime || '22:00',\n  'Bot_active': body.botActive ? 'true' : 'false'\n};\n\nreturn [{\n  json: {\n    success: true,\n    rowData: configData\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-config-parse",
        "name": "Code - Config Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          800
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET CONFIG]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Config"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Config').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-config",
        "name": "GS - Read Config",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1800,
          800
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET CONFIG]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Config"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Tên bot": "={{ $json.rowData['Tên bot'] }}",
              "Lời chào": "={{ $json.rowData['Lời chào'] }}",
              "Giờ mở cửa": "={{ $json.rowData['Giờ mở cửa'] }}",
              "Giờ đóng cửa": "={{ $json.rowData['Giờ đóng cửa'] }}",
              "Bot_active": "={{ $json.rowData['Bot_active'] }}"
            },
            "schema": [
              {
                "displayName": "Tên bot",
                "name": "Tên bot",
                "type": "string"
              },
              {
                "displayName": "Lời chào",
                "name": "Lời chào",
                "type": "string"
              },
              {
                "displayName": "Giờ mở cửa",
                "name": "Giờ mở cửa",
                "type": "string"
              },
              {
                "displayName": "Giờ đóng cửa",
                "name": "Giờ đóng cửa",
                "type": "string"
              },
              {
                "displayName": "Bot_active",
                "name": "Bot_active",
                "type": "string"
              }
            ]
          },
          "options": {
            "valueInputMode": "userEntered"
          }
        },
        "id": "wf3-gs-update-config",
        "name": "GS - Update Config",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          2000,
          800
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-config",
        "name": "Respond - Config",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2200,
          800
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}",
              "responseCode": 401
            },
            "options": {}
          }
        },
        "id": "wf3-respond-config-authfail",
        "name": "Respond - Config Auth Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1500,
          900
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "api/{spa_id}/chat-logs",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "wf3-wh-chatlogs",
        "name": "Webhook - Chat Logs",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1200,
          1200
        ],
        "webhookId": "wf3-chatlogs"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// AUTH CHECK — Chat Logs endpoint\n// ============================================\nconst requestHeaders = $input.first().json.headers || {};\nconst providedKey = (requestHeaders['x-api-key'] || '').toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst validKey = (staticData.apiKey || 'gw-dev-api-key-change-in-production').toLowerCase().trim();\n\nif (!providedKey || providedKey !== validKey) {\n  return [{\n    json: { success: false, error: 'Unauthorized: missing or invalid X-API-Key header' },\n    meta: { httpStatus: 401 }\n  }];\n}\n\nreturn [$input.first()];",
          "typeVersion": 2
        },
        "id": "wf3-auth-chatlogs",
        "name": "Code - Auth Check (Chat Logs)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          1200
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET LOG CHAT]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "LogChat"
          },
          "filters": {
            "filterRows": [
              {
                "column": "spa_id",
                "operator": "equals",
                "value": "={{ $('Webhook - Chat Logs').first().json.params?.spa_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "wf3-gs-read-logchat-all",
        "name": "GS - Read LogChat (All)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1600,
          1200
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// CHAT LOGS — paginated with filters, scoped to spa_id\n// ============================================\nconst rows = $('GS - Read LogChat (All)').all();\nconst params = $('Webhook - Chat Logs').first().json.query || {};\nconst page = Math.max(parseInt(params.page) || 1, 1);\nconst limit = Math.min(Math.max(parseInt(params.limit) || 20, 1), 100);\nconst dateFilter = params.date;\nconst senderFilter = params.sender;\n\nlet logs = rows.map((r, index) => ({\n  id: String(index + 2), // Row 1 is header\n  senderId: r.json['Zalo ID'] || '',\n  senderName: r.json['Tên khách'] || '',\n  customerMessage: r.json['Tin nhắn khách'] || '',\n  aiReply: r.json['Phản hồi AI'] || '',\n  category: r.json['Loại'] || '',\n  isBooking: r.json['Đặt lịch'] === 'Có',\n  time: r.json['Thời gian'] || ''\n}));\n\n// Apply filters\nif (dateFilter) {\n  logs = logs.filter(l => l.time && l.time.includes(dateFilter));\n}\nif (senderFilter) {\n  logs = logs.filter(l => l.senderId === senderFilter);\n}\n\n// Sort by time descending\nlogs.sort((a, b) => {\n  if (!a.time) return 1;\n  if (!b.time) return -1;\n  return new Date(b.time).getTime() - new Date(a.time).getTime();\n});\n\nconst total = logs.length;\nconst offset = (page - 1) * limit;\nconst paginated = logs.slice(offset, offset + limit);\n\nreturn [{\n  json: {\n    success: true,\n    data: paginated,\n    total,\n    page,\n    limit,\n    totalPages: Math.ceil(total / limit)\n  }\n}];",
          "typeVersion": 2
        },
        "id": "wf3-chatlogs-parse",
        "name": "Code - Chat Logs Parse",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          1200
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}"
            },
            "options": {}
          }
        },
        "id": "wf3-respond-chatlogs",
        "name": "Respond - Chat Logs",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          2000,
          1200
        ]
      },
      {
        "parameters": {
          "respondWith": {
            "response": {
              "responseBody": "={{ $json }}",
              "responseCode": 401
            },
            "options": {}
          }
        },
        "id": "wf3-respond-chatlogs-authfail",
        "name": "Respond - Chat Logs Auth Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1500,
          1300
        ]
      }
    ],
    "connections": {
      "Static Data (API Key)": {
        "main": [
          []
        ]
      },
      "Webhook - Sync": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Sync)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Sync)": {
        "main": [
          [
            {
              "node": "Code - Validate + Parse (Sync)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Validate + Parse (Sync)": {
        "main": [
          [
            {
              "node": "IF - Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Type": {
        "main": [
          [
            {
              "node": "GS - Append DatCho",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GS - Append LogChat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Append DatCho": {
        "main": [
          [
            {
              "node": "Respond - Sync Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Append LogChat": {
        "main": [
          [
            {
              "node": "Respond - Sync Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Dashboard": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Dashboard)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Dashboard)": {
        "main": [
          [
            {
              "node": "GS - Read LogChat (today)",
              "type": "main",
              "index": 0
            },
            {
              "node": "GS - Read DatCho (today)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Dashboard Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read LogChat (today)": {
        "main": [
          [
            {
              "node": "Code - Dashboard Calculation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read DatCho (today)": {
        "main": [
          [
            {
              "node": "Code - Dashboard Calculation",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code - Dashboard Calculation": {
        "main": [
          [
            {
              "node": "Respond - Dashboard",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Customers": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Customers)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Customers)": {
        "main": [
          [
            {
              "node": "GS - Read DatCho (All Customers)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Customers Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read DatCho (All Customers)": {
        "main": [
          [
            {
              "node": "Code - Filter Customers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Filter Customers": {
        "main": [
          [
            {
              "node": "Respond - Customers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Bookings List": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Bookings List)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Bookings List)": {
        "main": [
          [
            {
              "node": "GS - Read DatCho (All Bookings)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Bookings List Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read DatCho (All Bookings)": {
        "main": [
          [
            {
              "node": "Code - Bookings List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Bookings List": {
        "main": [
          [
            {
              "node": "Respond - Bookings List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Update Booking": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Update Booking)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Update Booking)": {
        "main": [
          [
            {
              "node": "Code - Update Booking Parse",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Update Booking Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Update Booking Parse": {
        "main": [
          [
            {
              "node": "GS - Read DatCho (for Update)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read DatCho (for Update)": {
        "main": [
          [
            {
              "node": "GS - Update DatCho Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Update DatCho Status": {
        "main": [
          [
            {
              "node": "Respond - Update Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Services List": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Services List)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Services List)": {
        "main": [
          [
            {
              "node": "GS - Read Services",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Services Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read Services": {
        "main": [
          [
            {
              "node": "Code - Services List Parse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Services List Parse": {
        "main": [
          [
            {
              "node": "Respond - Services List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Create Service": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Create Service)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Create Service)": {
        "main": [
          [
            {
              "node": "Code - Create Service Parse",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Services Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Create Service Parse": {
        "main": [
          [
            {
              "node": "GS - Append Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Append Service": {
        "main": [
          [
            {
              "node": "Respond - Create Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Update Service": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Update Service)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Update Service)": {
        "main": [
          [
            {
              "node": "Code - Update Service Parse",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Services Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Update Service Parse": {
        "main": [
          [
            {
              "node": "GS - Read Services (for Update)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read Services (for Update)": {
        "main": [
          [
            {
              "node": "GS - Update Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Update Service": {
        "main": [
          [
            {
              "node": "Respond - Update Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Delete Service": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Delete Service)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Delete Service)": {
        "main": [
          [
            {
              "node": "Code - Delete Service Parse",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Services Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Delete Service Parse": {
        "main": [
          [
            {
              "node": "GS - Read Services (for Delete)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read Services (for Delete)": {
        "main": [
          [
            {
              "node": "GS - Delete Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Delete Service": {
        "main": [
          [
            {
              "node": "Respond - Delete Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Config": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Config)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Config)": {
        "main": [
          [
            {
              "node": "Code - Config Parse",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Config Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Config Parse": {
        "main": [
          [
            {
              "node": "GS - Read Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read Config": {
        "main": [
          [
            {
              "node": "GS - Update Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Update Config": {
        "main": [
          [
            {
              "node": "Respond - Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Chat Logs": {
        "main": [
          [
            {
              "node": "Code - Auth Check (Chat Logs)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Auth Check (Chat Logs)": {
        "main": [
          [
            {
              "node": "GS - Read LogChat (All)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond - Chat Logs Auth Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read LogChat (All)": {
        "main": [
          [
            {
              "node": "Code - Chat Logs Parse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Chat Logs Parse": {
        "main": [
          [
            {
              "node": "Respond - Chat Logs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner",
      "saveManualExecutions": true,
      "saveExecutionProgress": true
    },
    "staticData": {
      "global": {
        "apiKey": "gw-dev-api-key-change-in-production",
        "spaKeyMap": {
          "__NOTE__": "Điền mapping: { \"your-api-key\": \"spa_id_tuong_ung\" } để enforce ownership check"
        }
      }
    },
    "meta": {
      "templateCredsSetupCompleted": false
    },
    "nodeGroups": [],
    "pinData": {},
    "tags": [
      {
        "id": "wf3-api-backend",
        "name": "wf3"
      }
    ]
  }
]