n8n/workflow-improved.json
[
  {
    "name": "CS Zalo - Ghost Worker v3",
    "description": "AI Agent CS Zalo v3 — Bảng giá động, log toàn bộ chat, fallback khi lỗi API",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-zalo-gemazo.zaloMessageTrigger",
        "typeVersion": 7,
        "position": [-800, 0],
        "id": "37d82f9f-2c19-494c-b5ea-fe347c042ad5",
        "name": "Zalo Message Trigger",
        "credentials": {
          "zaloApi": {
            "id": "62UoySzDRVlZ0ZSG",
            "name": "Zalo - Trường Thịnh (0912679845)"
          }
        },
        "notes": "Trigger khi có tin nhắn Zalo từ khách hàng"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// CODE: PII MASKING -- regex SĐT VN + ten rieng -> mask tokens\n// Outputs BOTH maskedMessage (for logging) and originalMessage (for AI processing)\n// CRITICAL-2 fix: AI Agent gets originalMessage with real phone numbers\n// ============================================\nconst triggerData = $input.first().json;\nlet message = triggerData.data?.content || triggerData.data?.text || '';\nconst originalMessage = message;\nconst phoneMap = [];\nconst nameMap = [];\n\n// 1. Mask VN phone numbers: 0[3|5|7|8|9]xxxxxxxx\n// CRITICAL-3 fix: phone regex works on original message (unmasked)\nconst phoneRe = /\\b(0[35789]\\d{8})\\b/g;\nmessage = message.replace(phoneRe, (m) => {\n  const id = phoneMap.length;\n  phoneMap.push({ mask: `[PHONE_${id}]`, real: m });\n  return `[PHONE_${id}]`;\n});\n\n// 2. Mask names after keywords: ten, anh, chi, em la, toi la\n// HIGH-3 fix: use String.replace() with callback instead of while/exec loop\nconst nameKw = /\\b(?:tên|Tôi là|Em là|Anh là|Chị là)\\s+([A-ZÀ-Ỹ][a-zà-ỹ]{1,15})\\b/gi;\nmessage = message.replace(nameKw, (fullMatch, name) => {\n  const id = nameMap.length;\n  const placeholder = `[NAME_${id}]`;\n  nameMap.push({ mask: placeholder, real: name });\n  return fullMatch.replace(name, placeholder);\n});\n\nreturn [{\n  json: {\n    originalMessage: originalMessage,\n    maskedMessage: message,\n    phoneMap,\n    nameMap,\n    senderId: triggerData.data?.fromId || triggerData.data?.senderId || 'unknown',\n    senderName: triggerData.data?.senderName || 'Khách hàng',\n    threadId: triggerData.threadId || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-700, 0],
        "id": "aa110001-0001-4000-a001-000000000010",
        "name": "Code - PII Masking",
        "notes": "Mã hóa PII (SĐT, tên) - outputs maskedMessage + originalMessage. CRITICAL-2 fix: AI gets originalMessage"
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET BẢNG GIÁ]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Sheet1"
          },
          "filters": {},
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [-650, 120],
        "id": "aa110001-0001-4000-a001-000000000001",
        "name": "Google Sheets - Đọc bảng giá",
        "notes": "Đọc bảng giá dịch vụ từ Google Sheet. Cấu trúc Sheet: cột 'Dịch vụ', cột 'Giá', cột 'Mô tả' (tùy chọn). BẠN PHẢI CHỌN documentId cụ thể.",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// CODE: CHUẨN BỊ CONTEXT CHO AI AGENT\n// Updated: reads from PII Masking output, forwards originalMessage\n// HIGH-1 fix: originalMessage is forwarded through pipeline\n// CRITICAL-2 fix: AI Agent receives originalMessage (unmasked)\n// ============================================\n\n// 1. Lấy dữ liệu bảng giá (tất cả rows từ Google Sheets)\nconst priceRows = $input.all();\nlet priceText = '';\n\nif (priceRows.length > 0) {\n  priceText = priceRows.map(r => {\n    const svc = r.json['Dịch vụ'] || r.json['dich_vu'] || r.json['Service'] || '';\n    const price = r.json['Giá'] || r.json['gia'] || r.json['Price'] || '';\n    const desc = r.json['Mô tả'] || r.json['mo_ta'] || r.json['Description'] || '';\n    if (!svc) return '';\n    return `• ${svc}: ${price}${desc ? ' — ' + desc : ''}`;\n  }).filter(Boolean).join('\\n');\n}\n\nif (!priceText) {\n  priceText = '(Chưa có dữ liệu giá — tư vấn chung, hướng khách đặt lịch)';\n}\n\n// 2. Lấy dữ liệu từ PII Masking node\nconst piiData = $input.first().json;\n\nreturn [{\n  json: {\n    priceSection: priceText,\n    // CRITICAL-2: AI Agent uses originalMessage (real phone numbers)\n    customerMessage: piiData.originalMessage || '',\n    // MEDIUM-5: maskedMessage forwarded for Log Chat (PII-protected)\n    maskedMessage: piiData.maskedMessage || piiData.originalMessage || '',\n    phoneMap: piiData.phoneMap || [],\n    nameMap: piiData.nameMap || [],\n    originalMessage: piiData.originalMessage || '',\n    senderId: piiData.senderId || 'unknown',\n    senderName: piiData.senderName || 'Khách hàng',\n    threadId: piiData.threadId || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-500, 0],
        "id": "aa110001-0001-4000-a001-000000000002",
        "name": "Code - Chuẩn bị context",
        "notes": "Ghép bảng giá vào prompt + trích xuất dữ liệu khách hàng từ PII Masking. HIGH-1 fix: originalMessage forwarded to AI"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.customerMessage }}",
          "options": {
            "systemMessage": "=## BẠN LÀ AI GÌ?\nBạn tên là **Linh** — trợ lý tư vấn & đặt lịch của spa. Bạn KHÔNG phải chatbot. Bạn là nhân viên lễ tân ảo, làm việc 24/7, luôn sẵn sàng hỗ trợ khách hàng.\n\n## NGUYÊN TẮC CỐT LÕI:\n- **Luôn trả lời bằng tiếng Việt.**\n- **Giọng điệu:** Thân thiện, ấm áp, chuyên nghiệp — như một nhân viên spa thật đang nhắn tin. Dùng \"em\" khi xưng với khách.\n- **Emoji:** Vừa phải (1-2 cái mỗi tin, không spam).\n- **Độ dài:** Ngắn gọn — tối đa 4-5 câu mỗi tin. Nếu dài hơn, chia thành 2 tin.\n- **Tốc độ:** Trả lời ngay lập tức, không vòng vo.\n\n## BẢNG GIÁ DỊCH VỤ (dữ liệu thực từ spa):\n{{ $json.priceSection }}\n\n⚠️ Sử dụng thông tin giá trên để tư vấn chính xác. Nếu khách hỏi dịch vụ chưa có trong danh sách, nói: \"Để em hỏi lại quản lý giá chính xác nhất nhé!\"\n\n## KỊCH BẢN TRẢ LỜI:\n\n### 1. KHÁCH HỎI GIÁ / DỊCH VỤ\n- Giới thiệu dịch vụ ngắn gọn + giá từ bảng giá ở trên.\n- Nếu không có giá cụ thể trong danh sách: \"Giá dịch vụ này tùy thuộc vào tình trạng và nhu cầu của chị ạ. Để em tư vấn chi tiết hơn, chị cho em số điện thoại hoặc đặt lịch trực tiếp nhé!\"\n- **LUÔN hướng khách đến booking** — đừng để khách hỏi xong rồi đi.\n\n### 2. KHÁCH MUỐN ĐẶT LỊCH / ĐẶT CHỖ\nKhi phát hiện ý định đặt lịch (từ khóa: đặt lịch, đặt chỗ, đăng ký, em muốn làm, cho em xin lịch, giờ nào có slot, v.v.), bạn PHẢI:\n\n**Bước 1 — Thu thập đủ thông tin:**\nNếu khách CHƯA cung cấp đủ, nhẹ nhàng hỏi thêm:\n- Tên khách\n- Số điện thoại (BẮT BUỘC)\n- Dịch vụ muốn đặt\n- Thời gian mong muốn (nếu có)\n\nVí dụ: \"Dạ chị muốn đặt lịch làm [dịch vụ] đúng không ạ? Cho em xin tên và số điện thoại để em giữ lịch cho chị nhé!\"\n\n**Bước 2 — Khi ĐỦ thông tin, trả lời ĐÚNG JSON sau (KHÔNG thêm text khác):**\n\n{\"booking\": true, \"name\": \"tên khách\", \"phone\": \"số điện thoại\", \"service\": \"dịch vụ\", \"note\": \"ghi chú thời gian hoặc yêu cầu\"}\n\nVí dụ khách nói: \"Em muốn đặt lịch làm răng sứ sáng thứ 7, tên em là Hương, số 0912345678\"\nTrả lời:\n{\"booking\": true, \"name\": \"Hương\", \"phone\": \"0912345678\", \"service\": \"làm răng sứ\", \"note\": \"sáng thứ 7\"}\n\n### 3. KHÁCH ĐANG SO SÁNH / Đắn đo\n- Nhấn mạnh lợi ích: \"Chị ơi, bên em tư vấn miễn phí, không áp lực. Chị ghé xem qua rồi quyết định cũng được ạ!\"\n- Tạo urgency nhẹ: \"Tuần này bên em còn slot chiều thứ 6, chị book sớm để em giữ chỗ nhé!\"\n\n### 4. KHÁCH HỎI GIỜ MỞ CỬA / ĐỊA CHỈ / LIÊN HỆ\n- Trả lời thông tin có sẵn.\n- Nếu không có: \"Để em hỏi lại quản lý và phản hồi chị trong giây lát nhé!\"\n\n### 5. KHÁCH PHẢ N / CHỬI BỜI\n- KHÔNG phản biện. KHÔNG biện minh.\n- Trả lời: \"Em xin lỗi nếu mình chưa làm chị hài lòng. Để em kết nối với quản lý hỗ trợ chị tốt hơn nhé!\"\n- Sau đó GẠCH DẦU (flag) để quản lý xử lý.\n\n### 6. KHÁCH HỎI ĐIỀU NGOÀI PHẠM VI\n- Không bịa đặt.\n- Trả lời: \"Dạ khoản này em chưa chắc chắn. Để em hỏi quản lý và phản hồi chị sớm nhất có thể nhé!\"\n\n## QUY TẮC AN TOÀN — KHÔNG VI PHẠM:\n- **KHÔNG** tiết lộ thông tin internal (giá gốc, lương, chi phí vận hành, tên đối thủ).\n- **KHÔNG** đưa ra cam kết y tế, hứa hẹn kết quả điều trị, hoặc chẩn đoán.\n- **KHÔNG** tư vấn dịch vụ y tế vượt quá phạm vi lễ tân.\n- **KHÔNG** tiết lộ bạn là AI. Nếu khách hỏi, trả lời: \"Em là nhân viên tư vấn online của spa ạ!\"\n- **KHÔNG** lưu trữ hay hiển thị SĐT khách hàng trong tin nhắn trả lời — chỉ dùng trong JSON booking.\n\n## XỬ LÝ HÌNH ẢNH (KHÁCH GỬI ẢNH):\nKhách hàng có thể gửi ảnh để hỏi tư vấn (ảnh da, ảnh răng, ảnh vết thương, ảnh muốn làm dịch vụ, v.v.). Khi nhận được ảnh:\n- **Mô tả ngắn gọn** những gì bạn thấy trong ảnh (1 câu).\n- **Đưa nhận định chung chung** — KHÔNG chẩn đoán y tế.\n- Ví dụ: \"Em thấy chị có vết đỏ nhẹ ở vùng má ạ. Để biết chính xác, chị nên ghé spa để các chuyên viên soi và tư vấn trực tiếp nhé!\"\n- **LUôn hướng đến đặt lịch** sau khi bình luận ảnh.\n- Nếu ảnh không liên quan đến dịch vụ spa → trả lời tự nhiên, vui vẻ.\n\n## XỬ LÝ TIN NHẮN GIỌNG NÓI (VOICE):\nKhách hàng có thể gửi tin nhắn giọng nói. Khi nhận được:\n- Nếu có **transcription (văn bản chuyển từ giọng nói)** → xử lý bình thường như tin nhắn text.\n- Nếu KHÔNG có transcription → trả lời: \"Dạ em chưa nghe rõ tin nhắn thoại của chị ạ. Chị gõ lại giúp em được không ạ? Hoặc chị để lại số điện thoại, em gọi lại tư vấn cho chị nhé!\"\n- **KHÔNG** yêu cầu khách gửi lại voice lần nữa — đề nghị gõ text hoặc gọi lại.\n\n## MỤC TIÊU CUỐI CÙNG:\nMỗi tin nhắn đều phải **hướng khách đến hành động đặt lịch**. Đừng chỉ trả lời xong rồi để khách đi. Luôn có CTA (call-to-action) nhẹ nhàng:\n- \"Chị book lịch nhé!\"\n- \"Cho em xin SĐT để em giữ slot ạ!\"\n- \"Chị ghé thử một lần, em đảm bảo chị sẽ thích!\"\n\nBạn là Linh. Bạn là người đầu tiên khách hàng nói chuyện khi họ nhắn tin vào spa. Make it count.",
            "passthroughBinaryImages": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [-350, 0],
        "id": "f17f3b86-2ff9-480f-bccf-cb9ad319f4df",
        "name": "AI Agent",
        "notes": "AI Agent v3 — system message động (có bảng giá), xử lý ảnh/voice, fallback khi lỗi",
        "onError": "continueRegularOutput",
        "settings": {
          "continueOnFail": true
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Zalo Message Trigger').item.json.data?.fromId || $('Zalo Message Trigger').item.json.data?.senderId || 'default' }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.4,
        "position": [-350, 200],
        "id": "033aa324-1038-46f3-bd11-34b7e0291150",
        "name": "Simple Memory",
        "notes": "Memory theo session - nhớ context hội thoại"
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [-550, 200],
        "id": "411730a3-4337-47e0-ac5f-8b1c51791cac",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "pbjCncLIt4GEfXub",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "notes": "LLM Model - Gemini Flash Lite"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// PARSE BOOKING v3 — Error fallback + Log data\n// ============================================\n\nconst triggerData = $('Zalo Message Trigger').item.json;\nconst senderId = triggerData.data?.fromId || triggerData.data?.senderId || 'unknown';\nconst senderName = triggerData.data?.senderName || 'Khách hàng';\nconst customerMessage = triggerData.data?.content || triggerData.data?.text || '';\nconst threadId = triggerData.threadId || '';\nconst timestamp = new Date().toLocaleString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh' });\n\n// ============ FALLBACK KHI API LỖI ============\nconst aiOutput = $input.first().json.output || '';\nconst hasError = !aiOutput || $input.first().json.error;\n\nif (hasError) {\n  return [{\n    json: {\n      isBooking: false,\n      bookingData: null,\n      replyText: 'Dạ hiện em đang bận hỗ trợ khách khác. Chị để lại số điện thoại, em gọi lại tư vấn cho chị ngay nhé! 💖',\n      senderId: senderId,\n      senderName: senderName,\n      rawAiOutput: aiOutput,\n      threadId: threadId,\n      isError: true,\n      messageType: 'Fallback (lỗi API)',\n      customerMessage: customerMessage,\n      timestamp: timestamp\n    }\n  }];\n}\n\n// ============ PHÂN TÍCH BOOKING ============\nlet isBooking = false;\nlet bookingData = null;\nlet replyText = '';\n\ntry {\n  const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\"booking\"[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.booking === true && parsed.phone) {\n      isBooking = true;\n      bookingData = {\n        name: parsed.name || 'Không rõ',\n        phone: parsed.phone || '',\n        service: parsed.service || 'Không rõ',\n        note: parsed.note || '',\n        timestamp: timestamp\n      };\n      replyText = `✅ Em đã ghi nhận lịch hẹn của chị ${bookingData.name} rồi ạ!\\n\\n📋 Thông tin:\\n• Dịch vụ: ${bookingData.service}\\n• Ghi chú: ${bookingData.note || 'Không có'}\\n\\nEm sẽ liên hệ xác nhận lại với chị trong thời gian sớm nhất. Cảm ơn chị đã tin tưởng! 💖`;\n    }\n  }\n} catch (e) {\n  isBooking = false;\n}\n\nif (!isBooking) {\n  replyText = aiOutput;\n}\n\n// ============ PHÂN LOẠI TIN NHẮN ============\nlet messageType = 'Tư vấn';\nif (isBooking) {\n  messageType = 'Đặt lịch';\n} else {\n  const lowerMsg = customerMessage.toLowerCase();\n  if (lowerMsg.match(/giá|bao nhiêu|cost|price|phí|tiền|đắt|rẻ/)) {\n    messageType = 'Hỏi giá';\n  } else if (lowerMsg.match(/phàn nàn|tệ|kém|không hài lòng|chửi|ghét|bực|tồi/)) {\n    messageType = 'Phàn nàn';\n  } else if (lowerMsg.match(/giờ|địa chỉ|ở đâu|map|chỉ đường/)) {\n    messageType = 'Hỏi thông tin';\n  }\n}\n\nreturn [{\n  json: {\n    isBooking: isBooking,\n    bookingData: bookingData,\n    replyText: replyText,\n    senderId: senderId,\n    senderName: senderName,\n    rawAiOutput: aiOutput,\n    threadId: threadId,\n    isError: false,\n    messageType: messageType,\n    customerMessage: customerMessage,\n    timestamp: timestamp\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-150, 0],
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "name": "Parse Booking",
        "notes": "v3: Error fallback + phân loại tin nhắn + log data cho Google Sheet"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "booking-check",
                "leftValue": "={{ $json.isBooking }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [100, 0],
        "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
        "name": "IF - Có đặt chỗ?",
        "notes": "Phân nhánh: TRUE = có đặt lịch, FALSE = trả lời thường"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET ĐẶT CHỖ]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Sheet1"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Thời gian": "={{ $json.bookingData.timestamp }}",
              "Tên khách": "={{ $json.bookingData.name }}",
              "Số điện thoại": "={{ $json.bookingData.phone }}",
              "Dịch vụ": "={{ $json.bookingData.service }}",
              "Ghi chú": "={{ $json.bookingData.note }}",
              "Zalo ID": "={{ $json.senderId }}",
              "Trạng thái": "Mới đặt"
            },
            "matchingColumns": ["Số điện thoại"],
            "schema": [
              { "displayName": "Thời gian", "name": "Thời gian", "type": "string" },
              { "displayName": "Tên khách", "name": "Tên khách", "type": "string" },
              { "displayName": "Số điện thoại", "name": "Số điện thoại", "type": "string" },
              { "displayName": "Dịch vụ", "name": "Dịch vụ", "type": "string" },
              { "displayName": "Ghi chú", "name": "Ghi chú", "type": "string" },
              { "displayName": "Zalo ID", "name": "Zalo ID", "type": "string" },
              { "displayName": "Trạng thái", "name": "Trạng thái", "type": "string" }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [350, -100],
        "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
        "name": "Google Sheets - Lưu đặt chỗ",
        "notes": "Lưu thông tin đặt lịch vào Google Sheet. BẠN CẦN CHỌN documentId và sheetName cụ thể sau khi tạo Sheet.",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "threadId": "={{ $('Zalo Message Trigger').item.json.threadId }}",
          "message": "={{ $json.replyText }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [350, 100],
        "id": "44ca83e0-d969-456e-afb0-373cd72c7e94",
        "name": "Zalo - Xác nhận khách",
        "notes": "Gửi tin nhắn xác nhận đặt lịch cho khách hàng",
        "credentials": {
          "zaloApi": {
            "id": "62UoySzDRVlZ0ZSG",
            "name": "Zalo - Trường Thịnh (0912679845)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Tạo tin nhắn báo chủ spa\nconst data = $input.first().json;\nconst b = data.bookingData;\n\nconst ownerMsg = `🔔 KHÁCH HÀNG MỚI ĐẶT LỊCH\\n\\n👤 Tên: ${b.name}\\n📞 SĐT: ${b.phone}\\n💇 Dịch vụ: ${b.service}\\n📝 Ghi chú: ${b.note || 'Không có'}\\n⏰ Thời gian: ${b.timestamp}\\n\\nXác nhận lịch hẹn với khách ngay nhé!`;\n\nreturn [{\n  json: {\n    ownerMessage: ownerMsg,\n    threadId: data.threadId\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [550, -100],
        "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
        "name": "Tạo tin nhắn báo chủ",
        "notes": "Tạo nội dung tin nhắn thông báo cho chủ spa"
      },
      {
        "parameters": {
          "threadId": "={{ $json.threadId }}",
          "message": "={{ $json.ownerMessage }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [750, -100],
        "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
        "name": "Zalo - Báo chủ spa",
        "notes": "Gửi tin nhắn thông báo cho chủ spa khi có khách đặt lịch. NÊN gửi đến thread/group Zalo của chủ spa.",
        "credentials": {
          "zaloApi": {
            "id": "62UoySzDRVlZ0ZSG",
            "name": "Zalo - Trường Thịnh (0912679845)"
          }
        }
      },
      {
        "parameters": {
          "threadId": "={{ $('Zalo Message Trigger').item.json.threadId }}",
          "message": "={{ $json.replyText }}"
        },
        "type": "n8n-nodes-zalo-gemazo.zaloMessage",
        "typeVersion": 4,
        "position": [350, 250],
        "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
        "name": "Zalo - Trả lời thường",
        "notes": "Trả lời tin nhắn thường (không phải đặt lịch)",
        "credentials": {
          "zaloApi": {
            "id": "62UoySzDRVlZ0ZSG",
            "name": "Zalo - Trường Thịnh (0912679845)"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET LOG CHAT]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "Sheet1"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Thời gian": "={{ $json.timestamp }}",
              "Zalo ID": "={{ $json.senderId }}",
              "Tên khách": "={{ $json.senderName }}",
              "Tin nhắn khách": "={{ $json.customerMessage }}",
              "Phản hồi AI": "={{ $json.replyText }}",
              "Loại": "={{ $json.messageType }}",
              "Đặt lịch": "={{ $json.isBooking ? 'Có' : 'Không' }}"
            },
            "schema": [
              { "displayName": "Thời gian", "name": "Thời gian", "type": "string" },
              { "displayName": "Zalo ID", "name": "Zalo ID", "type": "string" },
              { "displayName": "Tên khách", "name": "Tên khách", "type": "string" },
              { "displayName": "Tin nhắn khách", "name": "Tin nhắn khách", "type": "string" },
              { "displayName": "Phản hồi AI", "name": "Phản hồi AI", "type": "string" },
              { "displayName": "Loại", "name": "Loại", "type": "string" },
              { "displayName": "Đặt lịch", "name": "Đặt lịch", "type": "string" }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [100, 350],
        "id": "aa110001-0001-4000-a001-000000000003",
        "name": "Google Sheets - Log chat",
        "notes": "Ghi lại MỌI tin nhắn (booking + thường + lỗi) để phân tích conversion rate và tối ưu prompt. Cấu trúc Sheet: Thời gian, Zalo ID, Tên khách, Tin nhắn khách, Phản hồi AI, Loại, Đặt lịch.",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Zalo Message Trigger": {
        "main": [
          [
            {
              "node": "Code - PII Masking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - PII Masking": {
        "main": [
          [
            {
              "node": "Google Sheets - Đọc bảng giá",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Đọc bảng giá": {
        "main": [
          [
            {
              "node": "Code - Chuẩn bị context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Chuẩn bị context": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Parse Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Booking": {
        "main": [
          [
            {
              "node": "IF - Có đặt chỗ?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Sheets - Log chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Có đặt chỗ?": {
        "main": [
          [
            {
              "node": "Google Sheets - Lưu đặt chỗ",
              "type": "main",
              "index": 0
            },
            {
              "node": "Zalo - Xác nhận khách",
              "type": "main",
              "index": 0
            },
            {
              "node": "Tạo tin nhắn báo chủ",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Zalo - Trả lời thường",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tạo tin nhắn báo chủ": {
        "main": [
          [
            {
              "node": "Zalo - Báo chủ spa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner",
      "saveManualExecutions": true,
      "saveExecutionProgress": true
    },
    "staticData": {
      "node:Zalo Message Trigger": {
        "isConnected": true
      }
    },
    "meta": {
      "templateCredsSetupCompleted": false
    },
    "nodeGroups": [],
    "pinData": {},
    "tags": [
      {
        "id": "ZCCZsC9EQeeTdi3Y",
        "name": "wf1"
      }
    ]
  }
]
