n8n/workflow-daily-report.json
[
  {
    "name": "Daily Report - Ghost Worker",
    "description": "Tự động generate và gửi daily business report lúc 8:00 AM hàng ngày qua Zalo cho spa owner",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cron",
                "expression": "0 8 * * *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [0, 0],
        "id": "wf2-trigger-001",
        "name": "Schedule Trigger",
        "notes": "Chạy lúc 8:00 AM mỗi ngày (Asia/Ho_Chi_Minh)"
      },
      {
        "parameters": {
          "jsCode": "// Date Setup - calculate yesterday's date for data queries\nconst now = new Date();\nconst hcmNow = new Date(now.toLocaleString('en-US', { timeZone: 'Asia/Ho_Chi_Minh' }));\nconst yesterday = new Date(hcmNow);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst dd = String(yesterday.getDate()).padStart(2, '0');\nconst mm = String(yesterday.getMonth() + 1).padStart(2, '0');\nconst yyyy = yesterday.getFullYear();\nconst dateStr = `${dd}/${mm}/${yyyy}`;\nconst isoDate = `${yyyy}-${mm}-${dd}`;\n\nreturn [{\n  json: {\n    runDate: yesterday.toISOString(),\n    runDateStr: dateStr,\n    isoDate,\n    dayOfWeek: yesterday.toLocaleDateString('vi-VN', { weekday: 'long' })\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [200, 0],
        "id": "wf2-date-setup-001",
        "name": "Code - Date Setup",
        "notes": "Tính toán ngày hôm qua cho việc query dữ liệu từ Google Sheets"
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET LOG CHAT]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "LogChat"
          },
          "filters": {
            "conditions": {
              "conditions": [
                {
                  "id": "filter-time",
                  "leftValue": "={{ $json.isoDate }}",
                  "rightValue": "",
                  "operation": "contains"
                }
              ],
              "combinator": "and",
              "options": {
                "caseSensitive": true,
                "typeValidation": "strict"
              }
            },
            "options": {}
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [400, 0],
        "id": "wf2-gs-logchat-001",
        "name": "GS - Read LogChat",
        "notes": "Đọc log chat từ Google Sheets - lọc theo ngày hôm qua. Cấu trúc Sheet: Thời gian, Zalo ID, Tên khách, Tin nhắn khách, Phản hồi AI, Loại, Đặt lịch",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "read",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "[CHỌN GOOGLE SHEET ĐẶT CHỖ]"
          },
          "sheetName": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "DatCho"
          },
          "filters": {
            "conditions": {
              "conditions": [
                {
                  "id": "filter-time",
                  "leftValue": "={{ $json.isoDate }}",
                  "rightValue": "",
                  "operation": "contains"
                }
              ],
              "combinator": "and",
              "options": {
                "caseSensitive": true,
                "typeValidation": "strict"
              }
            },
            "options": {}
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [400, 200],
        "id": "wf2-gs-datcho-001",
        "name": "GS - Read DatCho",
        "notes": "Đọc danh sách đặt chỗ từ Google Sheets - lọc theo ngày hôm qua. Cấu trúc Sheet: Thời gian, Tên khách, Số điện thoại, Dịch vụ, Ghi chú, Zalo ID, Trạng thái",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "THAY_THE_BANG_CREDENTIAL_ID_CUA_BAN",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Statistics Calculator - aggregate daily metrics\nconst logRows = $('GS - Read LogChat').all();\nconst bookingRows = $('GS - Read DatCho').all();\n\n// --- Empty-state guard ---\n// If both sources returned no rows, emit a minimal \"no data\" report\n// so the workflow still sends something instead of failing silently.\nif (logRows.length === 0 && bookingRows.length === 0) {\n  return [{\n    json: {\n      totalMessages: 0,\n      newBookings: 0,\n      confirmed: 0,\n      pending: 0,\n      completed: 0,\n      cancelled: 0,\n      conversionRate: '0.0',\n      topServices: [],\n      complaints: 0,\n      isEmpty: true\n    }\n  }];\n}\n\n// --- Message stats ---\nconst totalMessages = logRows.length;\n\n// --- Booking stats ---\nconst newBookings = bookingRows.length;\nconst confirmed = bookingRows.filter(r => r.json['Trạng thái'] === 'Đã xác nhận').length;\nconst pending = bookingRows.filter(r => r.json['Trạng thái'] === 'Mới đặt').length;\nconst completed = bookingRows.filter(r => r.json['Trạng thái'] === 'Hoàn thành').length;\nconst cancelled = bookingRows.filter(r => r.json['Trạng thái'] === 'Đã hủy').length;\n\n// --- Conversion rate ---\n// Formula per spec: newBookings / totalMessages * 100\n// Example: 8 bookings / 47 messages = 17.0%\nconst conversionRate = totalMessages > 0\n  ? (newBookings / totalMessages * 100).toFixed(1)\n  : '0.0';\n\n// --- Top services ---\nconst serviceCount = {};\nbookingRows.forEach(r => {\n  const svc = r.json['Dịch vụ'] || 'Không rõ';\n  serviceCount[svc] = (serviceCount[svc] || 0) + 1;\n});\nconst topServices = Object.entries(serviceCount)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([name, count]) => ({ name, count }));\n\n// --- Complaints ---\nconst complaints = logRows.filter(r => {\n  const type = (r.json['Loại'] || '').toLowerCase();\n  return type.includes('phàn nàn') || type.includes('complaint');\n}).length;\n\nreturn [{\n  json: {\n    totalMessages,\n    newBookings,\n    confirmed,\n    pending,\n    completed,\n    cancelled,\n    conversionRate,\n    topServices,\n    complaints,\n    isEmpty: false\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [600, 100],
        "id": "wf2-stats-001",
        "name": "Code - Tính toán thống kê",
        "notes": "Tính toán các chỉ số: tổng tin nhắn, booking mới, confirmed, pending, conversion rate, top services, complaints"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Code - Date Setup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Date Setup": {
        "main": [
          [
            {
              "node": "GS - Read LogChat",
              "type": "main",
              "index": 0
            },
            {
              "node": "GS - Read DatCho",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read LogChat": {
        "main": [
          [
            {
              "node": "Code - Tính toán thống kê",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS - Read DatCho": {
        "main": [
          [
            {
              "node": "Code - Tính toán thống kê",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true,
      "callerPolicy": "workflowsFromSameOwner",
      "saveManualExecutions": true,
      "saveExecutionProgress": true
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": false
    },
    "nodeGroups": [],
    "pinData": {},
    "tags": [
      {
        "id": "wf2-tag-daily-report",
        "name": "wf2"
      }
    ]
  }
]
