n8n/workflows/workflow-daily-report-v2-datatable.json
{"data":{"updatedAt":"2026-06-24T11:07:43.741Z","createdAt":"2026-06-24T11:07:43.741Z","id":"mwgm9PLZA9zpLF1R","name":"Daily Report - Ghost Worker v2 (Data Table)","description":"Báo cáo ngày từ Data Table, gửi qua Zalo 8h sáng hàng ngày","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cron","expression":"0 8 * * *"}]},"timezone":"Asia/Ho_Chi_Minh"},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"rpt-001","name":"Schedule Trigger"},{"parameters":{"jsCode":"const now=new Date();const hcm=new Date(Date.now()+7*60*60*1000);\nconst y=new Date(hcm.getTime()-24*60*60*1000);\nconst dd=String(y.getUTCDate()).padStart(2,'0');const mm=String(y.getUTCMonth()+1).padStart(2,'0');const yyyy=y.getUTCFullYear();\nconst sd=$getWorkflowStaticData('global');const spaId=sd.spaId||'default-spa';\nreturn [{json:{runDate:y.toISOString(),isoDate:yyyy+'-'+mm+'-'+dd,dateStr:dd+'/'+mm+'/'+yyyy,spaId}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"id":"rpt-002","name":"Code - Date Setup"},{"parameters":{"resource":"row","operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"chat_log"},"filters":{"matchType":"all","conditions":[{"keyName":"spa_id","condition":"eq","keyValue":"={{ $('Code - Date Setup').first().json.spaId }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[400,-60],"id":"rpt-003","name":"DT - Read Chat Logs"},{"parameters":{"resource":"row","operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"booking"},"filters":{"matchType":"all","conditions":[{"keyName":"spa_id","condition":"eq","keyValue":"={{ $('Code - Date Setup').first().json.spaId }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[400,120],"id":"rpt-004","name":"DT - Read Bookings"},{"parameters":{"jsCode":"const isoDate = $('Code - Date Setup').first().json.isoDate;\nconst logRows = $('DT - Read Chat Logs').all();\nconst bookRows = $('DT - Read Bookings').all();\nconst logs = logRows.filter(r => (r.json.created_at||'').includes(isoDate));\nconst books = bookRows.filter(r => (r.json.created_at||'').includes(isoDate));\nif(logs.length===0&&books.length===0)return [{json:{totalMessages:0,newBookings:0,confirmed:0,pending:0,completed:0,cancelled:0,conversionRate:'0.0',topServices:[],complaints:0,isEmpty:true}}];\nconst totalMsg=logs.length;const newBk=books.length;\nconst confirmed=books.filter(r=>r.json.status==='Đã xác确认').length;\nconst pending=books.filter(r=>r.json.status==='Mới đặt').length;\nconst completed=books.filter(r=>r.json.status==='Hoàn thành').length;\nconst cancelled=books.filter(r=>r.json.status==='Đã hủy').length;\nconst conv=totalMsg>0?(newBk/totalMsg*100).toFixed(1):'0.0';\nconst svcMap={};books.forEach(r=>{const s=r.json.service||'Khác';svcMap[s]=(svcMap[s]||0)+1;});\nconst topSvc=Object.entries(svcMap).sort((a,b)=>b[1]-a[1]).slice(0,5).map(([n,c])=>({name:n,count:c}));\nconst complaints=logs.filter(r=>(r.json.category||'').toLowerCase().match(/phản ánh|complaint/)).length;\nreturn [{json:{totalMessages:totalMsg,newBookings:newBk,confirmed,pending,completed,cancelled,conversionRate:conv,topServices:topSvc,complaints,isEmpty:false}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,30],"id":"rpt-005","name":"Code - Statistics"},{"parameters":{"jsCode":"const s=$input.first().json;\nconst ds=$('Code - Date Setup').first().json.dateStr;\nif(s.isEmpty)return [{json:{reportText:'📊 BÁO CÁO NGÀY '+ds+'\\n\\nKhông có dữ liệu.'}}];\nlet svcText=s.topServices.length>0?s.topServices.map((v,i)=>'  '+(i+1)+'. '+v.name+' ('+v.count+')').join('\\n'):'  (Không có)';\nconst r='📊 BÁO CÁO NGÀY '+ds+'\\n══════════════════\\n\\n💬 Tin nhắn: '+s.totalMessages+'\\n📅 Đặt lịch mới: '+s.newBookings+'\\n✅ Đã xác nhận: '+s.confirmed+'\\n⏳ Chưa xác nhận: '+s.pending+'\\n📈 Tỷ lệ chuyển đổi: '+s.conversionRate+'%\\n\\n💇 Dịch vụ quan tâm:\\n'+svcText+'\\n\\n⚠️ Phản ánh: '+s.complaints+' tin';\nreturn [{json:{reportText:r}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,30],"id":"rpt-006","name":"Code - Format Report"},{"parameters":{"threadId":"[THAY_THREAD_ID_CHU_SPA]","message":"={{ $json.reportText }}"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[1000,30],"id":"rpt-007","name":"Zalo - Gửi báo cáo","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}},"notes":"Thay threadId bằng Zalo ID chủ spa"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[200,300],"id":"rpt-008","name":"Error Trigger"},{"parameters":{"threadId":"[THAY_THREAD_ID_CHU_SPA]","message":"⚠️ Báo cáo ngày bị lỗi!"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[500,300],"id":"rpt-009","name":"Zalo - Alert lỗi","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code - Date Setup","type":"main","index":0}]]},"Code - Date Setup":{"main":[[{"node":"DT - Read Chat Logs","type":"main","index":0},{"node":"DT - Read Bookings","type":"main","index":0}]]},"DT - Read Chat Logs":{"main":[[{"node":"Code - Statistics","type":"main","index":0}]]},"DT - Read Bookings":{"main":[[{"node":"Code - Statistics","type":"main","index":1}]]},"Code - Statistics":{"main":[[{"node":"Code - Format Report","type":"main","index":0}]]},"Code - Format Report":{"main":[[{"node":"Zalo - Gửi báo cáo","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Zalo - Alert lỗi","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":{"spaId":"default-spa"},"meta":{"templateCredsSetupCompleted":false},"nodeGroups":[],"pinData":{},"versionId":"86830a87-315d-48bc-a506-e3024268f480","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-24T11:07:43.747Z","createdAt":"2026-06-24T11:07:43.747Z","role":"workflow:owner","workflowId":"mwgm9PLZA9zpLF1R","projectId":"E8jsxBDawUgcrte0","project":{"updatedAt":"2026-06-23T19:49:49.568Z","createdAt":"2026-06-23T19:44:14.199Z","id":"E8jsxBDawUgcrte0","name":"Quang Trường Nguyễn <nguyentruongk530042003@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"9e9666e7-3720-4ca2-bdf3-ac987c1ed2db"}}],"tags":[],"parentFolder":null,"activeVersion":null,"scopes":["execution:reveal","workflow:create","workflow:delete","workflow:disableRedaction","workflow:enableRedaction","workflow:execute","workflow:execute-chat","workflow:export","workflow:import","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update"],"checksum":"de625651b96b8f10d869b9ef6c4ff034a0f9c0361649f9d01cbfea5752b252ef"}}