n8n/workflows/workflow-cs-zalo-v4-datatable.json
{"data":{"updatedAt":"2026-06-24T13:03:14.535Z","createdAt":"2026-06-24T11:07:31.463Z","id":"kRaNMVzygjGzdcqv","name":"CS Zalo - Ghost Worker v4 (Data Table)","description":"AI Agent CS Zalo v4 - Data Table backend, replaces Google Sheets","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-zalo-gemazo.zaloMessageTrigger","typeVersion":7,"position":[-880,0],"id":"v4-001","name":"Zalo Message Trigger","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}},"notes":"Trigger khi có tin nhắn Zalo"},{"parameters":{"jsCode":"const t = $input.first().json;\nlet msg = t.data?.content || t.data?.text || '';\nconst orig = msg;\nconst phoneMap = [], nameMap = [];\nconst sd = $getWorkflowStaticData('global');\nconst spaId = sd.spaId || 'default-spa';\nmsg = msg.replace(/\\b(0[35789]\\d{8})\\b/g, (m) => { const id = phoneMap.length; phoneMap.push({mask:'[PHONE_'+id+']',real:m}); return phoneMap[id].mask; });\nmsg = msg.replace(/\\b(?:tên|Tôi là|Em là|Anh là|Chị là)\\s+([A-ZÀ-Ỹ][a-zà-ỹ]{1,15})\\b/gi, (f,n) => { const id = nameMap.length; const ph='[NAME_'+id+']'; nameMap.push({mask:ph,real:n}); return f.replace(n,ph); });\nreturn [{json:{originalMessage:orig,maskedMessage:msg,phoneMap,nameMap,senderId:t.data?.fromId||t.data?.senderId||'unknown',senderName:t.data?.senderName||'Khách hàng',threadId:t.threadId||'',spaId}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,0],"id":"v4-002","name":"Code - PII Masking"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"service"},"filters":{"conditions":[{"keyName":"spa_id","keyValue":"={{ $('Code - PII Masking').first().json.spaId }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-528,-128],"id":"v4-003","name":"DT - Get Services"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"config"},"filters":{"conditions":[{"keyName":"spa_id","keyValue":"={{ $('Code - PII Masking').first().json.spaId }}"}]},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-528,64],"id":"v4-004","name":"DT - Get Config"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"spa"},"filters":{"conditions":[{"keyName":"spa_id","keyValue":"={{ $('Code - PII Masking').first().json.spaId }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-528,240],"id":"v4-005","name":"DT - Get Spa Info"},{"parameters":{"jsCode":"const pii = $('Code - PII Masking').first().json;\nconst svcRows = $('DT - Get Services').all();\nconst cfgRows = $('DT - Get Config').all();\nconst spaRow = $('DT - Get Spa Info').first();\nlet priceText = svcRows.map(r => '- ' + r.json.name + ': ' + (r.json.price||0) + 'đ').join('\\n') || '(Chưa có giá)';\nlet cfg = {};\ncfgRows.forEach(r => { cfg[r.json.key] = r.json.value; });\nconst si = spaRow ? spaRow.json : {};\nreturn [{json:{\n  priceSection: priceText,\n  spaInfo: { tenChiNhanh: si.name||'Spa', diaChi: si.address||'[Chưa cập nhật]', gioHoatDong: si.open_hours||((cfg.open_time||'08:00')+'-'+(cfg.close_time||'20:00')), ngayHoatDong: si.active_days||'T2-CN' },\n  customerMessage: pii.originalMessage, maskedMessage: pii.maskedMessage,\n  phoneMap: pii.phoneMap, nameMap: pii.nameMap, originalMessage: pii.originalMessage,\n  senderId: pii.senderId, senderName: pii.senderName, threadId: pii.threadId, spaId: pii.spaId\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,80],"id":"v4-006","name":"Code - Build Context"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst msg = (input.customerMessage || '').toLowerCase();\nconst detected = {};\nconst svcM = msg.match(/(?:làm tóc|làm nail|chăm sóc da|massage|uốn|nhuộm|cắt|gội)/i);\nif (svcM) detected.service = svcM[0];\nconst timeM = msg.match(/(sáng|chiều|tối|thứ [2-7]|ngày mai|\\d{1,2}[h:]\\d{0,2})/i);\nif (timeM) detected.time = timeM[0];\nconst nameM = msg.match(/(?:tên|em là|anh là|chị là)\\s+([a-zà-ỹ]{2,20})\\b/i);\nif (nameM) detected.name = nameM[1];\nconst phoneM = msg.match(/\\b0[35789]\\d{8}\\b/);\nif (phoneM) detected.phone = phoneM[0];\nconst hasBooking = /đặt|book|lịch|muốn làm/i.test(msg);\nconst hasNew = !!(detected.service||detected.name||detected.phone);\nconst isTopic = /giờ|địa chỉ|ở đâu|bao nhiêu/i.test(msg) && !hasBooking && !hasNew;\nlet inst = isTopic ? '\\n[HỆ THỐNG: Trả lời câu hỏi, rồi hỏi đặt lịch]' : '\\n[HỆ THỐNG: Thu thập: dịch vụ -> tên -> SĐT]\\n[Khi đủ, xuất JSON: {\"booking\":true,\"name\":\"...\",\"phone\":\"...\",\"service\":\"...\",\"note\":\"...\"}]';\nreturn [{json:{...input,currentDetected:detected,isTopicChange:isTopic,systemInstruction:inst}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,80],"id":"v4-007","name":"Code - Smart Collection"},{"parameters":{"promptType":"define","text":"={{ $('Code - Smart Collection').first().json.customerMessage }}","options":{"systemMessage":"=## VAI TRÒ\nBạn là Linh - trợ lý tư vấn spa.\nGiọng: thân thiện, \"dạ/ạ\", emoji 💖.\n\n## THÔNG TIN\n- Chi nhánh: {{ $('Code - Build Context').first().json.spaInfo.tenChiNhanh }}\n- Địa chỉ: {{ $('Code - Build Context').first().json.spaInfo.diaChi }}\n- Giờ: {{ $('Code - Build Context').first().json.spaInfo.gioHoatDong }}\n- Ngày: {{ $('Code - Build Context').first().json.spaInfo.ngayHoatDong }}\n\n## BẢNG GIÁ\n{{ $('Code - Build Context').first().json.priceSection }}\n\n## NHIỆM VỤ\nThu thập: dịch vụ → tên → SĐT. Hỏi từng cái.\nĐủ 3 → xuất NGAY: {\"booking\":true,\"name\":\"...\",\"phone\":\"090...\",\"service\":\"...\",\"note\":\"...\"}\n\n## QUY TẮC\n- Đủ 3 → JSON\n- Thiếu → hỏi tiếp\n- Hỏi giá → dùng bảng giá\n- Hỏi địa chỉ/giờ → dùng thông tin trên","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[64,80],"id":"v4-008","name":"AI Agent","settings":{"continueOnFail":true},"onError":"continueRegularOutput"},{"parameters":{"sessionIdType":"customKey","sessionKey":"{{ $('Zalo Message Trigger').first().json.data?.fromId || $('Zalo Message Trigger').first().json.data?.senderId || 'default' }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[128,304],"id":"v4-009","name":"Simple Memory"},{"parameters":{"modelName":"models/gemini-3.1-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[-16,304],"id":"v4-010","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"p5z4ewOMGbT3wy4O","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const input = $input.first().json;\nconst msg = (input.originalMessage || input.customerMessage || '').toLowerCase();\nconst P = {human:/gọi cho em|cho số dt|liên hệ trực tiếp/i,complaint:/nói chuyện với quản lý|không hài lòng|phản ánh|tệ quá/i,distrust:/không tin bot|người thật|talk to human/i};\nlet escType = null;\nfor (const [t,re] of Object.entries(P)) { if(re.test(msg)){escType=t;break;} }\nlet ownerAlert=null,escReply=null;\nif(escType==='human'){ownerAlert='KHÁCH MUỐN NÓI CHUYỆN TRỰC TIẾP\\nSender: '+input.senderId;escReply='Dạ em cho nhân viên liên hệ ngay! 📞';}\nelse if(escType==='complaint'){ownerAlert='🔴 LEAD NÓNG\\nSender: '+input.senderId;escReply='Em xin lỗi! Để em kết nối quản lý!';}\nelse if(escType==='distrust'){escReply='Dạ em là nhân viên tư vấn online! Em gửi hotline nhé!';}\nreturn [{json:{...input,isEscalation:!!escType,escalationType:escType,ownerAlert,escalationReply:escReply}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,80],"id":"v4-011","name":"Code - Escalation"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"esc","leftValue":"={{ $json.isEscalation }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,80],"id":"v4-012","name":"IF - Escalation?"},{"parameters":{"jsCode":"const d=$input.first().json;return [{json:{ownerMessage:d.ownerAlert,threadId:d.threadId}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-160],"id":"v4-013","name":"Code - Format Alert"},{"parameters":{"threadId":"{{ $('Zalo Message Trigger').first().json.threadId }}","message":"={{ $json.escalationReply }}"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[672,-16],"id":"v4-014","name":"Zalo - Escalation Reply","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}}},{"parameters":{"threadId":"{{ $('Zalo Message Trigger').first().json.threadId }}","message":"={{ $json.ownerMessage }}"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[880,-160],"id":"v4-015","name":"Zalo - Báo chủ spa","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}}},{"parameters":{"jsCode":"const input=$input.first().json;\nconst sId=input.senderId||'unknown';const sName=input.senderName||'Khách hàng';\nconst custMsg=input.originalMessage||input.customerMessage||'';\nconst thId=input.threadId||'';\nconst spaId=$getWorkflowStaticData('global').spaId||'default-spa';\nconst ts=new Date().toLocaleString('vi-VN',{timeZone:'Asia/Ho_Chi_Minh'});\nconst ai=input.output||'';\nif(!ai||input.error)return [{json:{isBooking:false,bookingData:null,replyText:'Dạ em đang bận. Anh/chị để lại số DT, em gọi lại! 💖',senderId:sId,senderName:sName,rawAiOutput:ai,threadId:thId,spaId,isError:true,messageType:'Fallback',customerMessage:custMsg,timestamp:ts}}];\nlet isBk=false,bkData=null,reply='';\ntry{const m=ai.match(/\\{[\\s\\S]*\"booking\"[\\s\\S]*\\}/);\nif(m){const p=JSON.parse(m[0]);if(p.booking===true&&p.phone){isBk=true;bkData={name:p.name||'Không rõ',phone:p.phone,service:p.service||'Không rõ',note:p.note||'',timestamp:ts};reply='✅ Em đã ghi nhận lịch của '+bkData.name+'!\\nDịch vụ: '+bkData.service+'\\nEm sẽ liên hệ xác nhận. 💖';}}}catch(e){isBk=false;}\nif(!isBk)reply=ai;\nlet mt='Tư vấn';if(isBk)mt='Đặt lịch';else{const l=custMsg.toLowerCase();if(l.match(/giá|bao nhiêu/))mt='Hỏi giá';else if(l.match(/phản ánh|tệ/))mt='Phản ánh';else if(l.match(/giờ|địa chỉ/))mt='Hỏi thông tin';}\nreturn [{json:{isBooking:isBk,bookingData:bkData,replyText:reply,senderId:sId,senderName:sName,rawAiOutput:ai,threadId:thId,spaId,isError:false,messageType:mt,customerMessage:custMsg,timestamp:ts}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,144],"id":"v4-016","name":"Parse Booking"},{"parameters":{"jsCode":"const data=$input.first().json;\nlet r=data.replyText||'';\n(data.phoneMap||[]).forEach(e=>{const esc=e.mask.replace(/[[\\]]/g,'\\\\$&');r=r.replace(new RegExp(esc,'g'),e.real);});\n(data.nameMap||[]).forEach(e=>{const esc=e.mask.replace(/[[\\]]/g,'\\\\$&');r=r.replace(new RegExp(esc,'g'),e.real);});\nreturn [{json:{...data,replyText:r}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,144],"id":"v4-017","name":"Code - Unmask Reply"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bk","leftValue":"={{ $json.isBooking }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,144],"id":"v4-018","name":"IF - Có đặt chỗ?"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"mode":"name","value":"booking"},"filters":{"conditions":[{"keyName":"customer_phone","keyValue":"={{ $json.bookingData.phone }}"},{"keyName":"spa_id","keyValue":"={{ $json.spaId }}"}],"matchType":"all"},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1280,48],"id":"v4-019","name":"DT - Check Duplicate"},{"parameters":{"jsCode":"const ex=$input.all();\nconst parse=$('Parse Booking').first().json;\nconst unmask=$('Code - Unmask Reply').first().json;\nconst now=new Date().toISOString();\nif(ex.length===0||!ex[0].json.id){\n  return [{json:{...unmask,duplicateAction:'insert',bookingData:parse.bookingData,duplicateReply:'',created_at:now,updated_at:now}}];\n}\nlet action='insert',reply='';\nconst st=ex[0].json.status||'';\nif(st==='Mới đặt'){action='update';reply='Em đã cập nhật lịch! 💖';}\nelse if(st==='Đã xác nhận'){action='reject';reply='Lịch đã xác nhận! Gọi hotline 📞';}\nelse if(st==='Hoàn thành'){action='insert';}\nreturn [{json:{...unmask,duplicateAction:action,bookingData:parse.bookingData,duplicateReply:reply,created_at:ex[0].json.created_at||now,updated_at:now}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,48],"id":"v4-020","name":"Code - Check Duplicate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"dup","leftValue":"={{ $json.duplicateAction }}","rightValue":"reject","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,48],"id":"v4-021","name":"IF - Duplicate?"},{"parameters":{"threadId":"{{ $('Zalo Message Trigger').first().json.threadId }}","message":"={{ $json.duplicateReply }}"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[1888,-64],"id":"v4-022","name":"Zalo - Duplicate Reply","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ins","leftValue":"={{ $json.duplicateAction }}","rightValue":"insert","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1888,112],"id":"v4-023","name":"IF - Insert or Update?"},{"parameters":{"dataTableId":{"__rl":true,"mode":"name","value":"booking"},"columns":{"mappingMode":"defineBelow","value":{"spa_id":"={{ $json.spaId }}","customer_name":"={{ $json.bookingData.name }}","customer_phone":"={{ $json.bookingData.phone }}","service":"={{ $json.bookingData.service }}","note":"={{ $json.bookingData.note }}","zalo_id":"={{ $json.senderId }}","status":"Mới đặt","created_at":"={{ new Date().toISOString() }}","updated_at":"={{ new Date().toISOString() }}"}},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[2112,32],"id":"v4-024","name":"DT - Insert Booking"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"mode":"name","value":"booking"},"filters":{"conditions":[{"keyName":"customer_phone","keyValue":"={{ $json.bookingData.phone }}"},{"keyName":"spa_id","keyValue":"={{ $json.spaId }}"}],"matchType":"all"},"columns":{"mappingMode":"defineBelow","value":{"service":"={{ $json.bookingData.service }}","note":"={{ $json.bookingData.note }}","status":"Mới đặt","customer_name":"={{ $json.bookingData.name }}","updated_at":"={{ new Date().toISOString() }}"}},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[2112,160],"id":"v4-025","name":"DT - Update Booking"},{"parameters":{"dataTableId":{"__rl":true,"mode":"name","value":"chat_log"},"columns":{"mappingMode":"defineBelow","value":{"spa_id":"={{ $json.spa_id }}","zalo_id":"={{ $json.zalo_id }}","customer_name":"={{ $json.customer_name }}","customer_message_masked":"={{ $json.customer_message_masked }}","ai_reply":"={{ $json.ai_reply }}","category":"={{ $json.category }}","is_booking":"={{ $json.is_booking }}","session_id":"={{ $json.session_id }}"},"matchingColumns":[],"schema":[{"id":"log_id","displayName":"log_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"spa_id","displayName":"spa_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"zalo_id","displayName":"zalo_id","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"customer_name","displayName":"customer_name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"customer_message_masked","displayName":"customer_message_masked","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ai_reply","displayName":"ai_reply","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"is_booking","displayName":"is_booking","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1312,288],"id":"v4-026","name":"DT - Log Chat"},{"parameters":{"jsCode":"const now=new Date();const hcm=new Date(now.toLocaleString('en-US',{timeZone:'Asia/Ho_Chi_Minh'}));const h=hcm.getHours();return [{json:{...$input.first().json,isBusinessHours:h>=8&&h<=20,currentHourHCM:h}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,368],"id":"v4-027","name":"Code - Business Hours"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bh","leftValue":"={{ $json.isBusinessHours }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,368],"id":"v4-028","name":"IF - Giờ làm việc?"},{"parameters":{"jsCode":"const d=$input.first().json;const b=d.bookingData||{};\nconst reply='Dạ em đã ghi nhận! ✅\\nDịch vụ: '+(b.service||'Chưa rõ')+'\\nEm xác nhận lại sáng mai 8h. 💖';\nreturn [{json:{...d,replyText:reply,threadId:d.threadId||''}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,464],"id":"v4-029","name":"Code - Deferred Reply"},{"parameters":{"threadId":"{{ $('Zalo Message Trigger').first().json.threadId }}","message":"={{ $json.replyText }}"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[2112,464],"id":"v4-030","name":"Zalo - Deferred Reply","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}}},{"parameters":{"jsCode":"const d=$input.first().json;const b=d.bookingData;\nconst msg='🔔 KHÁCH ĐẶT LỊCH\\n👤 '+b.name+'\\n📞 '+b.phone+'\\n💇 '+b.service+'\\n📝 '+(b.note||'Không có')+'\\n⏰ '+b.timestamp;\nreturn [{json:{ownerMessage:msg,threadId:d.threadId}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,320],"id":"v4-031","name":"Code - Báo chủ"},{"parameters":{"threadId":"{{ $('Zalo Message Trigger').first().json.threadId }}","message":"={{ $json.ownerMessage }}"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[2320,320],"id":"v4-032","name":"Zalo - Báo chủ (booking)","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}}},{"parameters":{"threadId":"{{ $('Zalo Message Trigger').first().json.threadId }}","message":"={{ $json.replyText }}"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[2320,464],"id":"v4-033","name":"Zalo - Xác nhận khách","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}}},{"parameters":{"threadId":"{{ $(\"Zalo Message Trigger\").first().json.threadId }}","message":"={{ $json.replyText }}"},"type":"n8n-nodes-zalo-gemazo.zaloMessage","typeVersion":4,"position":[1280,-144],"id":"v4-034","name":"Zalo - Trả lời thường","credentials":{"zaloApi":{"id":"KINkfsUVn8AdIvxM","name":"Zalo - Trường Thịnh (0912679845)"}}},{"parameters":{"jsCode":"const unmask = $('Code - Unmask Reply').first().json;\nconst smartCol = $('Code - Smart Collection').first().json;\nconst trigger = $('Zalo Message Trigger').first().json;\nreturn [{json:{\n  spa_id: unmask.spaId || 'default-spa',\n  zalo_id: unmask.senderId || 'unknown',\n  customer_name: unmask.senderName || 'Khách hàng',\n  customer_message_masked: smartCol.maskedMessage || '',\n  ai_reply: unmask.replyText || '',\n  category: unmask.messageType || 'Tư vấn',\n  is_booking: unmask.isBooking ? 'true' : 'false',\n  session_id: trigger.data?.fromId || 'default'\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,288],"id":"v4-035","name":"Code - Prepare Log Data","notes":"Gather all log fields into $json for DataTable node (DT cannot use cross-node refs)"}],"connections":{"Zalo Message Trigger":{"main":[[{"node":"Code - PII Masking","type":"main","index":0}]]},"Code - PII Masking":{"main":[[{"node":"DT - Get Services","type":"main","index":0},{"node":"DT - Get Config","type":"main","index":0},{"node":"DT - Get Spa Info","type":"main","index":0}]]},"DT - Get Services":{"main":[[{"node":"Code - Build Context","type":"main","index":0}]]},"DT - Get Config":{"main":[[{"node":"Code - Build Context","type":"main","index":1}]]},"DT - Get Spa Info":{"main":[[{"node":"Code - Build Context","type":"main","index":2}]]},"Code - Build Context":{"main":[[{"node":"Code - Smart Collection","type":"main","index":0}]]},"Code - Smart Collection":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code - Escalation","type":"main","index":0}]]},"Code - Escalation":{"main":[[{"node":"IF - Escalation?","type":"main","index":0}]]},"IF - Escalation?":{"main":[[{"node":"Code - Format Alert","type":"main","index":0},{"node":"Zalo - Escalation Reply","type":"main","index":0}],[{"node":"Parse Booking","type":"main","index":0}]]},"Code - Format Alert":{"main":[[{"node":"Zalo - Báo chủ spa","type":"main","index":0}]]},"Parse Booking":{"main":[[{"node":"Code - Unmask Reply","type":"main","index":0}]]},"Code - Unmask Reply":{"main":[[{"node":"IF - Có đặt chỗ?","type":"main","index":0},{"node":"Code - Prepare Log Data","type":"main","index":0}]]},"IF - Có đặt chỗ?":{"main":[[{"node":"DT - Check Duplicate","type":"main","index":0}],[{"node":"Zalo - Trả lời thường","type":"main","index":0}]]},"DT - Check Duplicate":{"main":[[{"node":"Code - Check Duplicate","type":"main","index":0}]]},"Code - Check Duplicate":{"main":[[{"node":"IF - Duplicate?","type":"main","index":0}]]},"IF - Duplicate?":{"main":[[{"node":"Zalo - Duplicate Reply","type":"main","index":0}],[{"node":"IF - Insert or Update?","type":"main","index":0}]]},"IF - Insert or Update?":{"main":[[{"node":"DT - Insert Booking","type":"main","index":0}],[{"node":"DT - Update Booking","type":"main","index":0}]]},"DT - Insert Booking":{"main":[[{"node":"Code - Business Hours","type":"main","index":0}]]},"DT - Update Booking":{"main":[[{"node":"Code - Business Hours","type":"main","index":0}]]},"Code - Business Hours":{"main":[[{"node":"IF - Giờ làm việc?","type":"main","index":0}]]},"IF - Giờ làm việc?":{"main":[[{"node":"Code - Báo chủ","type":"main","index":0},{"node":"Zalo - Xác nhận khách","type":"main","index":0}],[{"node":"Code - Deferred Reply","type":"main","index":0}]]},"Code - Báo chủ":{"main":[[{"node":"Zalo - Báo chủ (booking)","type":"main","index":0}]]},"Code - Deferred Reply":{"main":[[{"node":"Zalo - Deferred Reply","type":"main","index":0}]]},"Code - Prepare Log Data":{"main":[[{"node":"DT - Log Chat","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"binaryMode":"separate"},"staticData":{"spaId":"default-spa"},"meta":{"templateCredsSetupCompleted":false},"nodeGroups":[],"pinData":{},"versionId":"1c33bf8a-25c9-4882-89c1-9f2d9ea404d5","activeVersionId":null,"versionCounter":55,"triggerCount":0,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-24T11:07:31.471Z","createdAt":"2026-06-24T11:07:31.471Z","role":"workflow:owner","workflowId":"kRaNMVzygjGzdcqv","projectId":"E8jsxBDawUgcrte0","project":{"updatedAt":"2026-06-23T19:49:49.568Z","createdAt":"2026-06-23T19:44:14.199Z","id":"E8jsxBDawUgcrte0","name":"Quang Trường Nguyễn <nguyentruongk530042003@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"9e9666e7-3720-4ca2-bdf3-ac987c1ed2db"}}],"tags":[],"parentFolder":null,"activeVersion":null,"scopes":["execution:reveal","workflow:create","workflow:delete","workflow:disableRedaction","workflow:enableRedaction","workflow:execute","workflow:execute-chat","workflow:export","workflow:import","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:unshare","workflow:update"],"checksum":"63bed595480439759053d6daad7c0ab7d9574acc3a0b0ff4222dfa22de3170cd"}}